Code/src/.flows.json.backup
[{"id":"6b2d42343a0c0da8","type":"tab","label":"[PAP] Get List App","disabled":false,"info":"","env":[]},{"id":"ae48acebf6bf257d","type":"tab","label":"[PAP] Download App","disabled":false,"info":"","env":[{"name":"MARKET_SERVER","value":"http://127.0.0.1:1880/","type":"str"},{"name":"MINI_APP_NAME","value":"26a52fdb538b477c2f7efc0e828d2df1","type":"str"},{"name":"MINI_APPS_FOLDER","value":"APPS","type":"str"}]},{"id":"0a9f23fd1fc93a63","type":"mongodb4-client","name":"Get Apps","protocol":"mongodb","hostname":"103.154.100.21","port":"27017","dbName":"flows","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"","socketTimeoutMS":"","minPoolSize":"","maxPoolSize":"","maxIdleTimeMS":"","uri":"mongodb://user09:xkfxWZ2U@103.154.100.20/flows?authMechanism=SCRAM-SHA-1&authSource=admin","advanced":"","uriTabActive":"tab-uri-advanced"},{"id":"fbf8067ba7bb4a79","type":"comment","z":"6b2d42343a0c0da8","name":"Get application from mongodb","info":"","x":200,"y":480,"wires":[]},{"id":"20b9fa9174bb83d1","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"findOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":480,"y":540,"wires":[["0474aa96c769ab27"]]},{"id":"497a53b3cfef31cc","type":"http in","z":"6b2d42343a0c0da8","name":"Get App By Id","url":"/market/:id","method":"get","upload":true,"swaggerDoc":"","x":200,"y":520,"wires":[["7621166733acbe4f"]]},{"id":"a26a1c2bd3353c85","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":560,"wires":[["7621166733acbe4f"]]},{"id":"7621166733acbe4f","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, gitOwners: 1, readme: 1, flow: 1, zip_url: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1 }\n};\nlet query = {\n    _id: msg.req.params.id\n};\nmsg.payload = [query, options];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["20b9fa9174bb83d1"]]},{"id":"5e4b0db8dbc2f223","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":560,"wires":[]},{"id":"a88f7d49ced7613b","type":"debug","z":"6b2d42343a0c0da8","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":520,"wires":[]},{"id":"67e2fbf3e49cd69d","type":"comment","z":"6b2d42343a0c0da8","name":"Get all application from mongodb","info":"","x":230,"y":60,"wires":[]},{"id":"cab93a157aba92e7","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":480,"y":120,"wires":[["7df999250156d0b0","8b318fde7f4f5ae1"]]},{"id":"3acc4bc7fcb17b44","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Apps","url":"/app","method":"get","upload":true,"swaggerDoc":"","x":210,"y":100,"wires":[["72b8ec29b9cdc037"]]},{"id":"499d19e22c733a02","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":140,"wires":[["72b8ec29b9cdc037"]]},{"id":"72b8ec29b9cdc037","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1 }\n};\nlet query = {\n    type: 'app'\n};\nmsg.payload = [query, options];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["cab93a157aba92e7"]]},{"id":"3b44cfde81f8ad30","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":140,"wires":[]},{"id":"b50fb407cb051129","type":"debug","z":"6b2d42343a0c0da8","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":100,"wires":[]},{"id":"7df999250156d0b0","type":"function","z":"6b2d42343a0c0da8","name":"function 27","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    appObjs.forEach(function (element) {\n        let createDate = element.created_at\n        let updateDate = element.updated_at\n        element.created_at = formatDate(createDate);\n        element.updated_at = formatDate(updateDate);\n    });\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":120,"wires":[["b50fb407cb051129","3b44cfde81f8ad30"]]},{"id":"0474aa96c769ab27","type":"function","z":"6b2d42343a0c0da8","name":"function 28","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    let createDate = appObjs.created_at\n    let updateDate = appObjs.updated_at\n    appObjs.created_at = formatDate(createDate);\n    appObjs.updated_at = formatDate(updateDate);\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":540,"wires":[["5e4b0db8dbc2f223","a88f7d49ced7613b"]]},{"id":"d2512712d0cad4c2","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Installed","url":"/installed","method":"get","upload":false,"swaggerDoc":"","x":200,"y":800,"wires":[["a68790af4671eb0a"]]},{"id":"0ba140433ac973dd","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":840,"wires":[["a68790af4671eb0a"]]},{"id":"059fc06a3b5e1212","type":"comment","z":"6b2d42343a0c0da8","name":"Get All Installed","info":"","x":160,"y":760,"wires":[]},{"id":"ea6aeefb63281b42","type":"debug","z":"6b2d42343a0c0da8","name":"debug 77","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":880,"wires":[]},{"id":"1485cff60486d2f4","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path_menu","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":800,"wires":[["f2e551b9072e336b"]]},{"id":"f2e551b9072e336b","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":800,"wires":[["e6421c07e41f781a"]]},{"id":"814f2c5725e88f82","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let listInstall = msg.payload\nlet condition_query = [];\n\nlistInstall.forEach(function (installed) {\n    installed.forEach(function (element) {\n        if (element.app_id) {\n            condition_query.push(element.app_id)\n        } else {\n            condition_query.push(element.extension_id)\n        }\n    });\n});\nlet options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1 }\n};\nlet query = {\n    type: { $in: ['app', 'extension'] },\n    _id: { $in: condition_query }\n};\nmsg.payload = [query, options];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":900,"wires":[["f80c6527c0571dd8"]]},{"id":"f80c6527c0571dd8","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":580,"y":900,"wires":[["ea6aeefb63281b42","18f7c1fe6c11ecb1"]]},{"id":"18f7c1fe6c11ecb1","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":720,"y":920,"wires":[]},{"id":"8b318fde7f4f5ae1","type":"debug","z":"6b2d42343a0c0da8","name":"debug 78","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":60,"wires":[]},{"id":"ddc717ea23cd015e","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Id Install","url":"/installed/flowid","method":"get","upload":false,"swaggerDoc":"","x":200,"y":980,"wires":[["1195223441580a41"]]},{"id":"cc9588235dd31435","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1020,"wires":[["1195223441580a41"]]},{"id":"a8a9d40d5490a09a","type":"comment","z":"6b2d42343a0c0da8","name":"Get Id Flow Installed","info":"","x":170,"y":940,"wires":[]},{"id":"53f7f46176f7b8b0","type":"debug","z":"6b2d42343a0c0da8","name":"debug 81","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":980,"wires":[]},{"id":"17f2e0a1e963d090","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":1000,"wires":[["051b607505ab9b20"]]},{"id":"051b607505ab9b20","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":1000,"wires":[["53f7f46176f7b8b0","62b80f396bc513b8"]]},{"id":"62b80f396bc513b8","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":1040,"y":1020,"wires":[]},{"id":"403e3ed9c83b4be2","type":"function","z":"6b2d42343a0c0da8","name":"Get folder path","func":"msg.file_path_menu = path.join(msg.app_dir, \"menu.json\");\nmsg.file_path_extensions = path.join(msg.app_dir, \"extensions.json\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":500,"y":820,"wires":[["1485cff60486d2f4","ab26351ad73cbd37"]]},{"id":"d9a8e58809059928","type":"function","z":"6b2d42343a0c0da8","name":"Get folder path","func":"msg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":500,"y":1000,"wires":[["17f2e0a1e963d090"]]},{"id":"a68790af4671eb0a","type":"change","z":"6b2d42343a0c0da8","name":"Dir","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":820,"wires":[["403e3ed9c83b4be2"]]},{"id":"1195223441580a41","type":"change","z":"6b2d42343a0c0da8","name":"Dir","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1000,"wires":[["d9a8e58809059928"]]},{"id":"ab26351ad73cbd37","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path_extensions","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":840,"wires":[["e7e7d5362ad4b6d9"]]},{"id":"e7e7d5362ad4b6d9","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":840,"wires":[["e6421c07e41f781a"]]},{"id":"e6421c07e41f781a","type":"join","z":"6b2d42343a0c0da8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":820,"wires":[["814f2c5725e88f82"]]},{"id":"107dde07779f464f","type":"comment","z":"6b2d42343a0c0da8","name":"Get all extension from mongodb","info":"","x":230,"y":240,"wires":[]},{"id":"dafc57ffe66256ec","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":480,"y":300,"wires":[["0b2fe1e076841385"]]},{"id":"217b0a180272c422","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Extension ","url":"/extension","method":"get","upload":true,"swaggerDoc":"","x":190,"y":280,"wires":[["4dc425bfbfc00118"]]},{"id":"802ca02d99e9fc5d","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":320,"wires":[["4dc425bfbfc00118"]]},{"id":"4dc425bfbfc00118","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1 }\n};\nlet query = {\n    type: 'extension'\n};\nmsg.payload = [query, options];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":300,"wires":[["dafc57ffe66256ec"]]},{"id":"62f97ca4f70d6ed8","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":320,"wires":[]},{"id":"32a1ef8e78ac4e72","type":"debug","z":"6b2d42343a0c0da8","name":"debug 121","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":280,"wires":[]},{"id":"0b2fe1e076841385","type":"function","z":"6b2d42343a0c0da8","name":"function 31","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    appObjs.forEach(function (element) {\n        let createDate = element.created_at\n        let updateDate = element.updated_at\n        element.created_at = formatDate(createDate);\n        element.updated_at = formatDate(updateDate);\n    });\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":300,"wires":[["32a1ef8e78ac4e72","62f97ca4f70d6ed8"]]},{"id":"6630a919d806ec56","type":"comment","z":"6b2d42343a0c0da8","name":"Search by Contain Desc","info":"","x":190,"y":620,"wires":[]},{"id":"1a8d413770a5b3cc","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":480,"y":680,"wires":[["c8ba4259c4b99439"]]},{"id":"afab48fbbf138f72","type":"http in","z":"6b2d42343a0c0da8","name":"Get App By Desc","url":"market/search/:desc","method":"get","upload":true,"swaggerDoc":"","x":210,"y":660,"wires":[["c1dd62e3275e3bfa"]]},{"id":"4e57ac98227ebf84","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":700,"wires":[["c1dd62e3275e3bfa"]]},{"id":"c1dd62e3275e3bfa","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, gitOwners: 1, readme: 1, flow: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1 }\n};\n\nlet query = {\n    type: { $in: ['app', 'extension'] },\n    description: { $regex: msg.req.params.desc, $options: \"i\" }\n};\n\nmsg.payload = [query, options];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":680,"wires":[["1a8d413770a5b3cc"]]},{"id":"9ea82b8d067fd169","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":700,"wires":[]},{"id":"e8843cb4647a278c","type":"debug","z":"6b2d42343a0c0da8","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":660,"wires":[]},{"id":"c8ba4259c4b99439","type":"function","z":"6b2d42343a0c0da8","name":"function 29","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    appObjs.forEach(function (element) {\n        let createDate = element.created_at\n        let updateDate = element.updated_at\n        element.created_at = formatDate(createDate);\n        element.updated_at = formatDate(updateDate);\n    });\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":680,"wires":[["e8843cb4647a278c","9ea82b8d067fd169"]]},{"id":"4ac0f3b2e3710339","type":"http in","z":"6b2d42343a0c0da8","name":"Get Extension Id Install","url":"/installed/extension","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1120,"wires":[["127e2efa88164632"]]},{"id":"0aaa7f63ed420e22","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1160,"wires":[["127e2efa88164632"]]},{"id":"5016a63354699e50","type":"comment","z":"6b2d42343a0c0da8","name":"Get Id Extension Installed","info":"","x":170,"y":1080,"wires":[]},{"id":"8dc40393b4eac0b7","type":"debug","z":"6b2d42343a0c0da8","name":"debug 128","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1120,"wires":[]},{"id":"8208f6471514e0d3","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":660,"y":1140,"wires":[["e7bede11a8bba95a"]]},{"id":"e7bede11a8bba95a","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":820,"y":1140,"wires":[["8dc40393b4eac0b7","453c5c4d29dd4644"]]},{"id":"453c5c4d29dd4644","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":1010,"y":1160,"wires":[]},{"id":"9ca0f43d941cb7c9","type":"function","z":"6b2d42343a0c0da8","name":"Get folder path","func":"msg.file_path = path.join(msg.extension_dir, \"extensions.json\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":470,"y":1140,"wires":[["8208f6471514e0d3"]]},{"id":"127e2efa88164632","type":"change","z":"6b2d42343a0c0da8","name":"Dir","rules":[{"t":"set","p":"extension_dir","pt":"msg","to":"__dirname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1140,"wires":[["9ca0f43d941cb7c9"]]},{"id":"7e1a18943fd9d65b","type":"http in","z":"ae48acebf6bf257d","name":"API Install","url":"/app/install","method":"post","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["118c239584331083"]]},{"id":"118c239584331083","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"MARKET_SERVER","pt":"msg","to":"config.MARKET_SERVER","tot":"global"},{"t":"set","p":"app_id","pt":"msg","to":"req.body.app_id","tot":"msg"},{"t":"set","p":"flow_id","pt":"msg","to":"req.body.flow_id","tot":"msg"},{"t":"set","p":"file_name","pt":"msg","to":"req.body.file_name","tot":"msg"},{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"app_name","pt":"msg","to":"req.body.app_name","tot":"msg"},{"t":"set","p":"app_version","pt":"msg","to":"req.body.app_version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["9f36eac3e35f8a0a"]]},{"id":"b57c3d9d2d3e1520","type":"comment","z":"ae48acebf6bf257d","name":"install app from market","info":"","x":180,"y":60,"wires":[]},{"id":"6f87775b0c6a0744","type":"http request","z":"ae48acebf6bf257d","name":"get app data","method":"GET","ret":"bin","paytoqs":"ignore","url":"{{{MARKET_SERVER}}}server/app/install/{{{app_id}}}/{{{app_version}}}/{{{file_name}}}","tls":"","persist":true,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":750,"y":100,"wires":[["5854f6951b3649fb"]]},{"id":"c49e35c02894de56","type":"file","z":"ae48acebf6bf257d","name":"write folder zip","filename":"zip_file","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":160,"wires":[["068648d12d9b9ddd"]]},{"id":"5854f6951b3649fb","type":"function","z":"ae48acebf6bf257d","name":"zip folder/dir","func":"var app_dir = path.join(msg.app_dir, 'extension')\nvar zip_dir = path.join(app_dir, msg.app_id +'zip');\nif (!fs.existsSync(app_dir)) {\n    fs.mkdirSync(app_dir);\n}\nif (!fs.existsSync(zip_dir)) {\n    fs.mkdirSync(zip_dir);\n}\nmsg.zip_file = path.join(zip_dir, msg.app_id + '.zip')\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"zipAFolder","module":"zip-a-folder"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":930,"y":100,"wires":[["c49e35c02894de56"]]},{"id":"07a601443270f39c","type":"http response","z":"ae48acebf6bf257d","name":"response","statusCode":"200","headers":{},"x":760,"y":160,"wires":[]},{"id":"068648d12d9b9ddd","type":"function","z":"ae48acebf6bf257d","name":"unzip resource","func":"var app_dir = path.join(msg.app_dir, 'extension')\n\nlet promise = new Promise(function (resolve, reject) {\n    var extract = unzipStream.Extract({ path: app_dir })\n    var pstream = fs.createReadStream(msg.zip_file).pipe(extract)\n    pstream.on('finish', () => {\n        resolve({ code: 200, message: \"install app complete\" })\n    })\n    pstream.on('error', () => {        \n        resolve({ code: 400, error: null, data: \"load template failure.\" })\n    })\n    pstream.on('close', () => {                        \n        resolve({ code: 200, error: null, data: \"load template successful.\" })\n    })     \n});\n\nmsg.payload = await promise\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":340,"y":160,"wires":[["57d9f5e4892e7c3e","88cca3d0bfd4cdf3"]]},{"id":"7dfdbab957d371ac","type":"function","z":"ae48acebf6bf257d","name":"update app menu","func":"\nif (!msg.payload.some(app => app.app_id === msg.app_id))\n    msg.payload.push(\n        {\n            \"app_id\": msg.app_id,\n            \"app_name\": msg.app_name,\n            \"app_type\": 2,\n            \"app_dir\": path.join('extension', msg.file_name),\n            \"app_hotkey\": \"CmdOrCtrl+2\",\n            \"flow_id\": msg.flow_id\n        }\n    )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":690,"y":240,"wires":[["fe05b027b45d1429"]]},{"id":"b7a1aea98c088fb7","type":"file in","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":240,"wires":[["73c63b58d595d6ba"]]},{"id":"57d9f5e4892e7c3e","type":"function","z":"ae48acebf6bf257d","name":"menu file path","func":"msg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":180,"y":240,"wires":[["b7a1aea98c088fb7"]]},{"id":"73c63b58d595d6ba","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":240,"wires":[["7dfdbab957d371ac","06d8e5488bdec995"]]},{"id":"1ab26ba4c6f123d6","type":"debug","z":"ae48acebf6bf257d","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":300,"wires":[]},{"id":"fe05b027b45d1429","type":"file","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":300,"wires":[["1ab26ba4c6f123d6"]]},{"id":"06d8e5488bdec995","type":"debug","z":"ae48acebf6bf257d","name":"debug 76","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":300,"wires":[]},{"id":"cac0c08ccd48b80d","type":"file in","z":"ae48acebf6bf257d","name":"Menu","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":310,"y":480,"wires":[["1b79457ad28c5a31"]]},{"id":"1b79457ad28c5a31","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"","pretty":false,"x":430,"y":480,"wires":[["3352a4f5db99141b"]]},{"id":"1ee78b8cd149ad2e","type":"debug","z":"ae48acebf6bf257d","name":"debug 82","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":480,"wires":[]},{"id":"3352a4f5db99141b","type":"function","z":"ae48acebf6bf257d","name":"get installed app","func":"let appInstalled = msg.payload\nlet app_id = msg.app_id\nappInstalled = appInstalled.filter(app => app.app_id !== app_id);\nmsg.payload = appInstalled\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":480,"wires":[["3ffeef3d1ea28d1f"]]},{"id":"3ffeef3d1ea28d1f","type":"file","z":"ae48acebf6bf257d","name":"write file","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":480,"wires":[["1ee78b8cd149ad2e"]]},{"id":"88f9b9c036c12345","type":"http in","z":"ae48acebf6bf257d","name":"Delete","url":"/app/delete","method":"post","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["5614a9915acfbacc"]]},{"id":"e8e8108629d9f89d","type":"http response","z":"ae48acebf6bf257d","name":"","statusCode":"","headers":{},"x":690,"y":440,"wires":[]},{"id":"77af5d3374c48988","type":"function","z":"ae48acebf6bf257d","name":"delete folder","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet unzip_dir = path.join(msg.app_dir,msg.app_folder_dir);\n\ndeleteFolder(unzip_dir.trim())\n\nmsg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":530,"y":440,"wires":[["afd99f6901f7376d","cac0c08ccd48b80d","e8e8108629d9f89d"]]},{"id":"afd99f6901f7376d","type":"debug","z":"ae48acebf6bf257d","name":"debug 83","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":400,"wires":[]},{"id":"ee3a2026cc56bb27","type":"comment","z":"ae48acebf6bf257d","name":"Delete app installed","info":"","x":150,"y":400,"wires":[]},{"id":"91905e81a87e845c","type":"debug","z":"ae48acebf6bf257d","name":"debug 85","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":60,"wires":[]},{"id":"88cca3d0bfd4cdf3","type":"function","z":"ae48acebf6bf257d","name":"delete folder zip","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet zip_dir = path.join(msg.app_dir, 'extension', msg.app_id + 'zip');\ndeleteFolder(zip_dir)\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":560,"y":160,"wires":[["07a601443270f39c"]]},{"id":"5614a9915acfbacc","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"app_id","pt":"msg","to":"req.body.app_id","tot":"msg"},{"t":"set","p":"app_folder_dir","pt":"msg","to":"req.body.app_dir","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["77af5d3374c48988"]]},{"id":"31586eea75354b6e","type":"debug","z":"ae48acebf6bf257d","name":"debug 86","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":380,"wires":[]},{"id":"5557438bf29247ba","type":"http in","z":"ae48acebf6bf257d","name":"API Install","url":"/extension/install","method":"post","upload":false,"swaggerDoc":"","x":140,"y":660,"wires":[["06650e9af29e33c9"]]},{"id":"06650e9af29e33c9","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"MARKET_SERVER","pt":"msg","to":"config.MARKET_SERVER","tot":"global"},{"t":"set","p":"extension_id","pt":"msg","to":"req.body.extension_id","tot":"msg"},{"t":"set","p":"extension_name","pt":"msg","to":"req.body.extension_name","tot":"msg"},{"t":"set","p":"extension_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"extension_zip","pt":"msg","to":"req.body.extension_zip","tot":"msg"},{"t":"set","p":"extension_version","pt":"msg","to":"req.body.extension_version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":660,"wires":[["aeb0e5b5c3bb6f80"]]},{"id":"17f74f05d0eede62","type":"comment","z":"ae48acebf6bf257d","name":"install extention from market","info":"","x":200,"y":620,"wires":[]},{"id":"aeb0e5b5c3bb6f80","type":"http request","z":"ae48acebf6bf257d","name":"get app data","method":"GET","ret":"bin","paytoqs":"ignore","url":"{{{MARKET_SERVER}}}server/app/install/{{{extension_id}}}/{{{extension_version}}}/{{{extension_zip}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":660,"wires":[["7021432c0247100b"]]},{"id":"0623211d1a7ca932","type":"file","z":"ae48acebf6bf257d","name":"write folder zip","filename":"zip_file","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":720,"wires":[["4bf48314452215a4"]]},{"id":"7021432c0247100b","type":"function","z":"ae48acebf6bf257d","name":"zip folder/dir","func":"var extension_dir = path.join(msg.extension_dir, 'extension', 'chorme_extentions')\nvar zip_dir = path.join(extension_dir, msg.extension_id + 'zip');\nif (!fs.existsSync(extension_dir)) {\n    fs.mkdirSync(extension_dir);\n}\nif (!fs.existsSync(zip_dir)) {\n    fs.mkdirSync(zip_dir);\n}\nmsg.zip_file = path.join(zip_dir, msg.extension_id + '.zip')\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"zipAFolder","module":"zip-a-folder"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":810,"y":660,"wires":[["0623211d1a7ca932"]]},{"id":"4bf48314452215a4","type":"function","z":"ae48acebf6bf257d","name":"unzip resource","func":"var extension_dir = path.join(msg.extension_dir, 'extension', 'chorme_extentions')\n\nlet promise = new Promise(function (resolve, reject) {\n    var extract = unzipStream.Extract({ path: extension_dir })\n    var pstream = fs.createReadStream(msg.zip_file).pipe(extract)\n    pstream.on('finish', () => {\n        resolve({ code: 200, message: \"install app complete\" })\n    })\n    pstream.on('error', () => {        \n        resolve({ code: 400, error: null, data: \"load template failure.\" })\n    })\n    pstream.on('close', () => {                        \n        resolve({ code: 200, error: null, data: \"load template successful.\" })\n    })     \n});\n\nmsg.payload = await promise\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":340,"y":720,"wires":[["7b068e41492be27f","88f21b63e68421bb"]]},{"id":"4fcd64fca2d27014","type":"function","z":"ae48acebf6bf257d","name":"update app menu","func":"\nif (!msg.payload.some(extension => extension.extension_id === msg.extension_id))\n    msg.payload.push(\n        {\n            \"extension_id\": msg.extension_id,\n            \"extension_name\": msg.extension_name,\n            \"extension_type\": 2,\n            \"extension_dir\": path.join('extension', 'chorme_extentions', msg.extension_zip),\n            \"extension_hotkey\": \"CmdOrCtrl+2\"\n        }\n    )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":690,"y":800,"wires":[["8fdbaf67168c6c8a"]]},{"id":"575199b6f1a9fce8","type":"file in","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":800,"wires":[["443022362aa5caf1"]]},{"id":"88f21b63e68421bb","type":"function","z":"ae48acebf6bf257d","name":"menu file path","func":"msg.file_path = path.join(msg.extension_dir, \"extensions.json\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":180,"y":800,"wires":[["575199b6f1a9fce8"]]},{"id":"443022362aa5caf1","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":800,"wires":[["4fcd64fca2d27014","de9dd4ebe9068646"]]},{"id":"dcc52a63c2bb1db1","type":"debug","z":"ae48acebf6bf257d","name":"debug 122","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":860,"wires":[]},{"id":"8fdbaf67168c6c8a","type":"file","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":860,"wires":[["dcc52a63c2bb1db1"]]},{"id":"de9dd4ebe9068646","type":"debug","z":"ae48acebf6bf257d","name":"debug 123","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":860,"wires":[]},{"id":"a03cac06fabc3105","type":"debug","z":"ae48acebf6bf257d","name":"debug 124","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":700,"wires":[]},{"id":"7b068e41492be27f","type":"function","z":"ae48acebf6bf257d","name":"delete folder zip","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet zip_dir = path.join(msg.extension_dir, 'extension','chorme_extentions', msg.extension_id + 'zip');\ndeleteFolder(zip_dir)\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":560,"y":720,"wires":[["a03cac06fabc3105","276218e80e094d0d"]]},{"id":"276218e80e094d0d","type":"http response","z":"ae48acebf6bf257d","name":"response","statusCode":"200","headers":{},"x":760,"y":740,"wires":[]},{"id":"af8bb9de8b767111","type":"file in","z":"ae48acebf6bf257d","name":"Menu","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":310,"y":1060,"wires":[["3620505b09efee4a"]]},{"id":"3620505b09efee4a","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1060,"wires":[["4158c05c753d3ade"]]},{"id":"a7eb49967190fe91","type":"debug","z":"ae48acebf6bf257d","name":"debug 125","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":1060,"wires":[]},{"id":"4158c05c753d3ade","type":"function","z":"ae48acebf6bf257d","name":"get installed app","func":"let extensionInstalled = msg.payload\nlet extension_id = msg.extension_id\nextensionInstalled = extensionInstalled.filter(extension => extension.extension_id !== extension_id);\nmsg.payload = extensionInstalled\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1060,"wires":[["a23265d3fbd18847"]]},{"id":"a23265d3fbd18847","type":"file","z":"ae48acebf6bf257d","name":"write file","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":1060,"wires":[["a7eb49967190fe91"]]},{"id":"e737a5a6ee5e1522","type":"http in","z":"ae48acebf6bf257d","name":"Delete","url":"/extension/delete","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1020,"wires":[["7b97a806437299aa"]]},{"id":"b17ebb6dd6a431a0","type":"function","z":"ae48acebf6bf257d","name":"delete folder","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet unzip_dir = path.join(msg.extension_dir, msg.extension_folder_dir);\n\ndeleteFolder(unzip_dir.trim())\n\nmsg.file_path = path.join(msg.extension_dir, \"extensions.json\")\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":430,"y":1020,"wires":[["1057ae2d87d4208f","af8bb9de8b767111","6becd9140726c876"]]},{"id":"1057ae2d87d4208f","type":"debug","z":"ae48acebf6bf257d","name":"debug 126","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":980,"wires":[]},{"id":"1c7752c620e99e64","type":"comment","z":"ae48acebf6bf257d","name":"Delete extension installed","info":"","x":170,"y":980,"wires":[]},{"id":"7b97a806437299aa","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"extension_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"extension_folder_dir","pt":"msg","to":"req.body.extension_dir","tot":"msg"},{"t":"set","p":"extension_id","pt":"msg","to":"req.body.extension_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1020,"wires":[["b17ebb6dd6a431a0"]]},{"id":"6becd9140726c876","type":"http response","z":"ae48acebf6bf257d","name":"response","statusCode":"200","headers":{},"x":720,"y":1020,"wires":[]},{"id":"9f36eac3e35f8a0a","type":"function","z":"ae48acebf6bf257d","name":"Timeout","func":"msg.requestTimeout = 180000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["6f87775b0c6a0744"]]},{"type":"tab","label":"OutSystem Entity Generator","id":"804e6a8d5f96138a","info":"","disabled":false,"env":[{"name":"root_path","value":".\\resources\\app\\OutSystemGeneration\\Fsoft.Pid.Mgt.OutSysten.Gen\\App002\\Data","type":"str"}]},{"id":"33b0a0a13f9565fc","type":"group","z":"804e6a8d5f96138a","name":"Support","style":{"stroke":"#ffC000","fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["5eca8c49d62a2358","a4d6446b50ba6baa","a004c50e484aa32f","a83396e938fd7df9","3646f69e8ed144a1","3da4dde3cab367b8"],"x":34,"y":439,"w":752,"h":122},{"id":"80aac01b3532c5c4","type":"group","z":"804e6a8d5f96138a","name":"Generate","style":{"fill":"#ffffbf","label":true,"color":"#000000","stroke":"#d1d1d1"},"nodes":["223a7c03b9345867","afdf38dea747d21c","cf590ced567b6567","76147aa44790aa69","7ced8d8f7d774cd3","2b5d35760ce7ad66","311de9d55b691f7a","0906d1540e7b3568","5319b187ab194fa3","19515f35d0ae09a3","253f7ec49cda408e","ea661928fb1dc5c2","730bdeee5773c64b","5bd860f0e2546b1f","7f43f4767d24b4fe","e27dd6cee7394493","eefa90c010d01d9c","50ee89fc54372502","c3bb4793ec857176"],"x":14,"y":139,"w":1252,"h":262},{"id":"17bf4797f0b5eb6e","type":"group","z":"804e6a8d5f96138a","name":"Config","style":{"stroke":"#d1d1d1","fill":"#ffffbf","label":true,"color":"#000000"},"nodes":["d2705ab7babf6f9c","2d6c4ed9acf445d7","1ffb5d40af8e8f7e","6d67eb31fc0d3233"],"x":34,"y":19,"w":612,"h":82},{"id":"5eca8c49d62a2358","type":"http request","z":"804e6a8d5f96138a","g":"33b0a0a13f9565fc","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fptsoftware362.webhook.office.com/webhookb2/3c9a50d2-703f-420d-b378-928336c1c0ff@f01e930a-b52e-42b1-b70f-a8882b5d043b/IncomingWebhook/8c202b2e0d1a4545b786e85c42151e39/20d2549a-fa66-4cd0-8de3-d2b9809b14cf","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":500,"wires":[["a004c50e484aa32f","3da4dde3cab367b8"]]},{"id":"a4d6446b50ba6baa","type":"inject","z":"804e6a8d5f96138a","g":"33b0a0a13f9565fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\":\"message\",\"attachments\":[{\"contentType\":\"application/vnd.microsoft.card.adaptive\",\"content\":{\"type\":\"AdaptiveCard\",\"body\":[{\"type\":\"TextBlock\",\"text\":\"Quang đầu đất\"}],\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"version\":\"1.0\"}}]}","payloadType":"json","x":350,"y":480,"wires":[["5eca8c49d62a2358"]]},{"id":"a004c50e484aa32f","type":"debug","z":"804e6a8d5f96138a","g":"33b0a0a13f9565fc","name":"debug 77","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":480,"wires":[]},{"id":"a83396e938fd7df9","type":"http in","z":"804e6a8d5f96138a","g":"33b0a0a13f9565fc","name":"","url":"/support-oseg","method":"post","upload":true,"swaggerDoc":"","x":150,"y":520,"wires":[["3646f69e8ed144a1"]]},{"id":"3646f69e8ed144a1","type":"function","z":"804e6a8d5f96138a","g":"33b0a0a13f9565fc","name":"parse param","func":"msg.payload = JSON.parse(msg.payload.data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":520,"wires":[["5eca8c49d62a2358"]]},{"id":"3da4dde3cab367b8","type":"http response","z":"804e6a8d5f96138a","g":"33b0a0a13f9565fc","name":"","statusCode":"200","headers":{},"x":680,"y":520,"wires":[]},{"id":"223a7c03b9345867","type":"http in","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"Import excel File ","url":"/import-file-excel-oseg","method":"post","upload":true,"swaggerDoc":"","x":120,"y":200,"wires":[["311de9d55b691f7a"]]},{"id":"afdf38dea747d21c","type":"http response","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"","statusCode":"200","headers":{},"x":600,"y":180,"wires":[]},{"id":"cf590ced567b6567","type":"function","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"get data","func":"msg.structures.forEach(function (structure, index) {\n    const entityName = structure.EntityName;\n    const data = msg.data ? msg.data.find(d => d.EntityName === entityName) : null;\n    if (data && data.Data) {\n        structure[\"Data\"] = data[\"Data\"];\n    } else {\n        structure[\"Data\"] = []; // Hoặc có thể là một giá trị mặc định tùy bạn muốn xử lý\n    }\n    // node.debug('', structure.name);\n});\n\nmsg.payload = msg.structures;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"excelToJson","module":"convert-excel-to-json"}],"x":440,"y":180,"wires":[["afdf38dea747d21c","730bdeee5773c64b"]]},{"id":"76147aa44790aa69","type":"switch","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"Folder? Empty?","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":460,"y":240,"wires":[["0906d1540e7b3568"],["7ced8d8f7d774cd3"]]},{"id":"7ced8d8f7d774cd3","type":"function","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"get name","func":"msg.fileName = msg.payload.originalname;\nmsg.payload = msg.payload.buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["2b5d35760ce7ad66"]]},{"id":"2b5d35760ce7ad66","type":"switch","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"check type","property":"fileName","propertyType":"msg","rules":[{"t":"eq","v":"Structure.xlsx","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":260,"wires":[["5319b187ab194fa3"],["c3bb4793ec857176"]]},{"id":"5319b187ab194fa3","type":"function","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"get structure","func":"/**/\nasync function getStructures(payload) {\n    let result = [];\n    const workbook = new exceljs.Workbook();\n    const sourceWorkbook = await workbook.xlsx.load(payload);\n    const worksheets = sourceWorkbook.worksheets;\n    worksheets.forEach(function (worksheet) {\n        const item = {\n            \"EntityName\": worksheet.name,\n            \"Field\": [],\n            \"Data\": [],\n        }\n        if (worksheet) {\n            worksheet.eachRow({ includeEmpty: false }, (row, rowNumber) => {\n                if (rowNumber > 3) {\n                    const fieldItem = {\n                        \"No\": row.getCell(2).value,\n                        \"FieldName\": row.getCell(3).value,\n                        \"Label\": row.getCell(4).value,\n                        \"Type\": row.getCell(5).value,\n                        \"Mandatory\": row.getCell(6).value,\n                        \"DefaultValue\": row.getCell(7).value,\n                    }\n                    item.Field.push(fieldItem);\n                }\n            });\n        }\n        result.push(item);\n    });\n    return result;\n}\nconst structures = await getStructures(msg.payload);\nmsg.structures = structures;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"exceljs","module":"exceljs"}],"x":1010,"y":260,"wires":[["253f7ec49cda408e"]]},{"id":"ea661928fb1dc5c2","type":"inject","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"EntityName\":\"HSE\",\"Field\":[{\"No\":1,\"FieldName\":\"Name\",\"Label\":\"Name\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":2,\"FieldName\":\"Pre_DefineScore\",\"Label\":\"Pre-DefineScore\",\"Type\":\"float\",\"Mandatory\":null,\"DefaultValue\":1},{\"No\":3,\"FieldName\":\"IsActive\",\"Label\":\"IsActive\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[[\"HSE1\",7,1],[\"HSE2\",8,1],[\"HSE3\",9,\"\"]]},{\"EntityName\":\"AssetLocation\",\"Field\":[{\"No\":1,\"FieldName\":\"Name\",\"Label\":\"Name\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":2,\"FieldName\":\"Pre_DefineScore\",\"Label\":\"Pre-DefineScore\",\"Type\":\"float\",\"Mandatory\":null,\"DefaultValue\":1},{\"No\":3,\"FieldName\":\"IsActive\",\"Label\":\"IsActive\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[[\"AL1\",7,1],[\"AL2\",8,1],[\"AL3\",9,\"\"]]},{\"EntityName\":\"Statutory\",\"Field\":[{\"No\":1,\"FieldName\":\"Name\",\"Label\":\"Name\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":2,\"FieldName\":\"Pre_DefineScore\",\"Label\":\"Pre-DefineScore\",\"Type\":\"float\",\"Mandatory\":null,\"DefaultValue\":1},{\"No\":3,\"FieldName\":\"IsActive\",\"Label\":\"IsActive\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[[\"Statutory1\",7,1],[\"Statutory2\",8,1],[\"Statutory3\",9,\"\"]]},{\"EntityName\":\"ProductionGain_Lost\",\"Field\":[{\"No\":1,\"FieldName\":\"Name\",\"Label\":\"Name\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":2,\"FieldName\":\"Pre_DefineScore\",\"Label\":\"Pre-DefineScore\",\"Type\":\"float\",\"Mandatory\":null,\"DefaultValue\":1},{\"No\":3,\"FieldName\":\"IsActive\",\"Label\":\"IsActive\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[]},{\"EntityName\":\"Criticality\",\"Field\":[{\"No\":1,\"FieldName\":\"Name\",\"Label\":\"Name\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":2,\"FieldName\":\"Pre_DefineScore\",\"Label\":\"Pre-DefineScore\",\"Type\":\"float\",\"Mandatory\":null,\"DefaultValue\":1},{\"No\":3,\"FieldName\":\"IsActive\",\"Label\":\"IsActive\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[[\"Critical1\",7,1],[\"Critical2\",8,1],[\"Critical3\",9,\"\"]]},{\"EntityName\":\"Duration\",\"Field\":[{\"No\":1,\"FieldName\":\"Name\",\"Label\":\"Name\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":2,\"FieldName\":\"IsActive\",\"Label\":\"IsActive\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[[\"Spring\",1],[\"Summer\",1],[\"Fall\",\"\"],[\"Winter\",\"\"]]},{\"EntityName\":\"Unit\",\"Field\":[{\"No\":1,\"FieldName\":\"Name\",\"Label\":\"Name\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":2,\"FieldName\":\"IsActive\",\"Label\":\"IsActive\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[[\"Unit1\",1],[\"Unit2\",1],[\"Unit3\",\"\"]]},{\"EntityName\":\"Impact\",\"Field\":[{\"No\":1,\"FieldName\":\"Name\",\"Label\":\"Name\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":2,\"FieldName\":\"IsActive\",\"Label\":\"IsActive\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[[\"Impact1\",1],[\"Impact2\",1],[\"Impact3\",\"\"]]},{\"EntityName\":\"FIPGRForm0\",\"Field\":[{\"No\":1,\"FieldName\":\"FromTypeId\",\"Label\":\"Form Type Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":2,\"FieldName\":\"Phase\",\"Label\":\"Phase\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":3,\"FieldName\":\"FIPStudyTitle\",\"Label\":\"FIP Study Title\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":4,\"FieldName\":\"DescriptionofSituation\",\"Label\":\"Description of Situation\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":5,\"FieldName\":\"ProposedScopeofWork\",\"Label\":\"Proposed Scope of Work\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":6,\"FieldName\":\"HSEId\",\"Label\":\"HSE Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":7,\"FieldName\":\"CriticalityId\",\"Label\":\"Criticality Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":8,\"FieldName\":\"ProductionGain_LostId\",\"Label\":\"Production Gain Lost Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":9,\"FieldName\":\"StatutoryId\",\"Label\":\"Statutory Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":10,\"FieldName\":\"AssetLocationId\",\"Label\":\"AssetLocation Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":11,\"FieldName\":\"RegistrationOfEndorsement\",\"Label\":\"Registration Of Endorsement\",\"Type\":\"varchar(255)\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":12,\"FieldName\":\"DurationId\",\"Label\":\"Duration Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":13,\"FieldName\":\"Comment\",\"Label\":\"Comment\",\"Type\":\"varchar(3000)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":14,\"FieldName\":\"ChairmanoftheMeeting\",\"Label\":\"Chairman of the Meeting\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":15,\"FieldName\":\"FIPGR0SittingDate\",\"Label\":\"FIPGR 0 Sitting Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":16,\"FieldName\":\"EstimatedCost\",\"Label\":\"Estimated Cost\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":0},{\"No\":17,\"FieldName\":\"EstimatedCompletionDate\",\"Label\":\"Estimated Completion Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":18,\"FieldName\":\"FormStatus\",\"Label\":\"Form Status\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":19,\"FieldName\":\"Form0Value\",\"Label\":\"Form 0 Value\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":0},{\"No\":20,\"FieldName\":\"Form0UnitId\",\"Label\":\"Form 0 Unit Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":21,\"FieldName\":\"Form0ImpactId\",\"Label\":\"Form Impact Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null}],\"Data\":[]},{\"EntityName\":\"FIPGRForm1\",\"Field\":[{\"No\":1,\"FieldName\":\"FromTypeId\",\"Label\":\"Form Type Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":2,\"FieldName\":\"Phase\",\"Label\":\"Phase\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":2},{\"No\":3,\"FieldName\":\"Findings\",\"Label\":\"Findings\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":4,\"FieldName\":\"Recommendations\",\"Label\":\"Recommendations\",\"Type\":\"varchar(3000)\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":5,\"FieldName\":\"Endrosements\",\"Label\":\"Endrosements\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":6,\"FieldName\":\"DurationId\",\"Label\":\"Duration Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":7,\"FieldName\":\"Comment\",\"Label\":\"Comment\",\"Type\":\"varchar(3000)\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":8,\"FieldName\":\"ChairmanoftheMeeting\",\"Label\":\"Chairman of the Meeting\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":9,\"FieldName\":\"FIPGR1SittingDate\",\"Label\":\"FIPGR 1 Sitting Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":10,\"FieldName\":\"EstimatedCost\",\"Label\":\"Estimated Cost\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":11,\"FieldName\":\"EstimatedCompletionDate\",\"Label\":\"Estimated Completion Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":12,\"FieldName\":\"IndexAverageComplexity\",\"Label\":\"Index Average Complexity\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":13,\"FieldName\":\"ProjectType\",\"Label\":\"Project Type\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":14,\"FieldName\":\"FormStatus\",\"Label\":\"Form Status\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":15,\"FieldName\":\"Form1Value\",\"Label\":\"Form 1 Value\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":16,\"FieldName\":\"Form1UnitId\",\"Label\":\"Form 1 Unit Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":17,\"FieldName\":\"Form1ImpactId\",\"Label\":\"Form 1 Impact Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":18,\"FieldName\":\"CreateBy\",\"Label\":\"Create By User Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null}],\"Data\":[]},{\"EntityName\":\"FIPGRForm2\",\"Field\":[{\"No\":1,\"FieldName\":\"FromTypeId\",\"Label\":\"Form Type Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":2,\"FieldName\":\"Phase\",\"Label\":\"Phase\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":3},{\"No\":3,\"FieldName\":\"Findings\",\"Label\":\"Findings\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":4,\"FieldName\":\"Recommendations\",\"Label\":\"Recommendations\",\"Type\":\"varchar(3000)\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":5,\"FieldName\":\"Endrosements\",\"Label\":\"Endrosements\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":6,\"FieldName\":\"DurationId\",\"Label\":\"Duration Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":7,\"FieldName\":\"Comment\",\"Label\":\"Comment\",\"Type\":\"varchar(3000)\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":8,\"FieldName\":\"ChairmanoftheMeeting\",\"Label\":\"Chairman of the Meeting\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":9,\"FieldName\":\"FIPGR2SittingDate\",\"Label\":\"FIPGR 2 Sitting Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":10,\"FieldName\":\"EstimatedCost\",\"Label\":\"Estimated Cost\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":11,\"FieldName\":\"EstimatedCompletionDate\",\"Label\":\"Estimated Completion Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":12,\"FieldName\":\"IndexAverageComplexity\",\"Label\":\"Index Average Complexity\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":13,\"FieldName\":\"ProjectType\",\"Label\":\"Project Type\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":14,\"FieldName\":\"FormStatus\",\"Label\":\"Form Status\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":15,\"FieldName\":\"Form2Value\",\"Label\":\"Form 2 Value\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":16,\"FieldName\":\"Form2UnitId\",\"Label\":\"Form 2 Unit Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":17,\"FieldName\":\"Form2ImpactId\",\"Label\":\"Form 2 Impact Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":18,\"FieldName\":\"CreateBy\",\"Label\":\"Create By User Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null}],\"Data\":[]},{\"EntityName\":\"FIPGRForm3\",\"Field\":[{\"No\":1,\"FieldName\":\"FromTypeId\",\"Label\":\"From Type Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":2,\"FieldName\":\"Phase\",\"Label\":\"Phase\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":4},{\"No\":3,\"FieldName\":\"Comment\",\"Label\":\"Comment\",\"Type\":\"varchar(3000)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":4,\"FieldName\":\"ChairmanoftheMeeting\",\"Label\":\"Chairman of the Meeting\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":5,\"FieldName\":\"FIPGR3SittingDate\",\"Label\":\"FIPGR 3 Sitting Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":6,\"FieldName\":\"FIPLTRM10\",\"Label\":\"FIP LTRM 10\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":10},{\"No\":7,\"FieldName\":\"FIPMTRM10to150\",\"Label\":\"FIP MTRM 10 to 150\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":10},{\"No\":8,\"FieldName\":\"EstimatedCost\",\"Label\":\"Estimated Cost\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":9,\"FieldName\":\"EstimatedCompletionDate\",\"Label\":\"Estimated Completion Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":10,\"FieldName\":\"IndexAverageComplexity\",\"Label\":\"Index Average Complexity\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":11,\"FieldName\":\"ProjectType\",\"Label\":\"Project Type\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":12,\"FieldName\":\"FormStatus\",\"Label\":\"Form Status\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":13,\"FieldName\":\"Form3Value\",\"Label\":\"Form 3 Value\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":14,\"FieldName\":\"Form3UnitId\",\"Label\":\"Form 3 Unit Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":15,\"FieldName\":\"Form3ImpactId\",\"Label\":\"Form 3 Impact Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":16,\"FieldName\":\"CreateBy\",\"Label\":\"Create By User Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null}],\"Data\":[[\"\",1,\"This is a comment section\",\"Boss3\",\"27/2/2023\",1,50,\"\",\"27/2/2023\",1,\"Easy\",\"\",1,\"\",\"\",\"\"],[\"\",2,\"This is a comment section\",\"Boss3\",\"27/2/2023\",2,100,\"\",\"27/2/2023\",2,\"Normal\",\"\",2,\"\",\"\",\"\"],[\"\",3,\"This is a comment section\",\"Boss3\",\"27/2/2023\",3,150,\"\",\"27/2/2023\",3,\"Hard\",\"\",3,\"\",\"\",\"\"]]},{\"EntityName\":\"FIPGRForm4\",\"Field\":[{\"No\":1,\"FieldName\":\"FromTypeId\",\"Label\":\"From Type Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":2,\"FieldName\":\"Phase\",\"Label\":\"Phase\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":5},{\"No\":3,\"FieldName\":\"MocNo\",\"Label\":\"Moc No\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":4,\"FieldName\":\"DocNo\",\"Label\":\"Doc No\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":5,\"FieldName\":\"ActualCost\",\"Label\":\"Actual Cost\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":6,\"FieldName\":\"ActualCompletionDate\",\"Label\":\"Actual Completion Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":7,\"FieldName\":\"Comment\",\"Label\":\"Comment\",\"Type\":\"varchar(3000)\",\"Mandatory\":\"x\",\"DefaultValue\":null},{\"No\":8,\"FieldName\":\"ChairmanoftheMeeting\",\"Label\":\"Chairman of the Meeting\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":9,\"FieldName\":\"FIPGR4SittingDate\",\"Label\":\"FIPGR4 Sitting Date\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":10,\"FieldName\":\"IndexAverageComplexity\",\"Label\":\"Index Average Complexity\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":11,\"FieldName\":\"ProjectType\",\"Label\":\"Project Type\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":12,\"FieldName\":\"FormStatus\",\"Label\":\"Form Status\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":13,\"FieldName\":\"Form4Value\",\"Label\":\"Form 4 Value\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":14,\"FieldName\":\"Form4UnitId\",\"Label\":\"Form 4 Unit Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":15,\"FieldName\":\"Form4ImpactId\",\"Label\":\"Form 4 Impact Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":16,\"FieldName\":\"CreateBy\",\"Label\":\"Create By User Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null}],\"Data\":[[\"\",1,1,1,1,\"27/2/2023\",\"This is a comment section\",\"Boss4\",\"27/2/2023\",1,\"Easy\",\"\",1,\"\",\"\",\"\"],[\"\",2,2,2,2,\"27/2/2023\",\"This is a comment section\",\"Boss4\",\"27/2/2023\",2,\"Normal\",\"\",2,\"\",\"\",\"\"],[\"\",3,3,3,3,\"27/2/2023\",\"This is a comment section\",\"Boss4\",\"27/2/2023\",3,\"Hard\",\"\",3,\"\",\"\",\"\"]]},{\"EntityName\":\"Request\",\"Field\":[{\"No\":1,\"FieldName\":\"CategoryId\",\"Label\":\"Category Id\",\"Type\":\"varchar(255)\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":2,\"FieldName\":\"FIPNo\",\"Label\":\"FIP No\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":3,\"FieldName\":\"FIPTitle\",\"Label\":\"FIP Title\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":4,\"FieldName\":\"RegionalId\",\"Label\":\"Regional Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":5,\"FieldName\":\"FieldId\",\"Label\":\"Field Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":6,\"FieldName\":\"PlatformId\",\"Label\":\"Platform Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":7,\"FieldName\":\"CreateBy\",\"Label\":\"Create By\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":null},{\"No\":8,\"FieldName\":\"CreateOn\",\"Label\":\"Create On\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":9,\"FieldName\":\"ModifiedBy\",\"Label\":\"Modified By\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":10,\"FieldName\":\"ModifiedOn\",\"Label\":\"Modified On\",\"Type\":\"date\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T00:00:00.000Z\"},{\"No\":11,\"FieldName\":\"IsActive\",\"Label\":\"Is Active\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":12,\"FieldName\":\"RequestStatusId\",\"Label\":\"Request Status Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":13,\"FieldName\":\"TotalScore\",\"Label\":\"Total Score\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":14,\"FieldName\":\"Ranking\",\"Label\":\"Ranking\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":15,\"FieldName\":\"Priority\",\"Label\":\"Priority\",\"Type\":\"float\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":16,\"FieldName\":\"Equipement\",\"Label\":\"Equipement\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":17,\"FieldName\":\"CurrentPhase\",\"Label\":\"Current Phase\",\"Type\":\"int\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":18,\"FieldName\":\"SimplifedRouteId\",\"Label\":\"Simplifed Route Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null}],\"Data\":[[\"\",1,\"FIP Title 1\",\"\",\"\",\"\",\"\",\"27/2/2023\",\"\",\"27/2/2023\",1,\"\",1,1,1,\"Equipement1\",\"\",\"\"],[\"\",2,\"FIP Title 2\",\"\",\"\",\"\",\"\",\"27/2/2023\",\"\",\"27/2/2023\",1,\"\",2,2,2,\"Equipement2\",\"\",\"\"],[\"\",3,\"FIP Title 3\",\"\",\"\",\"\",\"\",\"27/2/2023\",\"\",\"27/2/2023\",\"\",\"\",3,3,3,\"Equipement3\",\"\",\"\"]]},{\"EntityName\":\"Approver\",\"Field\":[{\"No\":1,\"FieldName\":\"RequestId\",\"Label\":\"Request Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":2,\"FieldName\":\"FIPRForm0Id\",\"Label\":\"FIPR Form 0 Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":3,\"FieldName\":\"FIPRForm1Id\",\"Label\":\"FIPR Form 1 Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":4,\"FieldName\":\"FIPRForm2Id\",\"Label\":\"FIPR Form 2 Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":5,\"FieldName\":\"FIPRForm3Id\",\"Label\":\"FIPR Form 3 Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":6,\"FieldName\":\"FIPRForm4Id\",\"Label\":\"FIPR Form 4 Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":7,\"FieldName\":\"FIPRFormDeviationId\",\"Label\":\"FIPR Form Deviation Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":8,\"FieldName\":\"FormTypeId\",\"Label\":\"Form Type Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":9,\"FieldName\":\"ApproverTypeId\",\"Label\":\"Approver Type Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":10,\"FieldName\":\"ApproverId\",\"Label\":\"Approver Id\",\"Type\":\"int\",\"Mandatory\":null,\"DefaultValue\":null},{\"No\":11,\"FieldName\":\"DateTime\",\"Label\":\"Date Time\",\"Type\":\"date time\",\"Mandatory\":\"x\",\"DefaultValue\":\"1899-12-31T09:00:00.000Z\"},{\"No\":12,\"FieldName\":\"IsReviewed\",\"Label\":\"Is Reviewed\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":13,\"FieldName\":\"IsAcknowledged\",\"Label\":\"Is Acknowledged\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":14,\"FieldName\":\"IsEndorsed\",\"Label\":\"Is Endorsed\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":15,\"FieldName\":\"IsRevert\",\"Label\":\"Is Revert\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":16,\"FieldName\":\"IsProposed\",\"Label\":\"Is Proposed\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":17,\"FieldName\":\"IsVerified\",\"Label\":\"Is Verified\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":18,\"FieldName\":\"IsAccepted\",\"Label\":\"Is Accepted\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":19,\"FieldName\":\"IsApproved\",\"Label\":\"Is Approved\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":20,\"FieldName\":\"IsChairmanApproved\",\"Label\":\"Is Chairman Approved\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":21,\"FieldName\":\"IsChairmanNotApproved\",\"Label\":\"Is Chairman Not Approved\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":0},{\"No\":22,\"FieldName\":\"Designation\",\"Label\":\"Designation\",\"Type\":\"varchar(255)\",\"Mandatory\":\"x\",\"DefaultValue\":\"Default\"},{\"No\":23,\"FieldName\":\"IsChecking\",\"Label\":\"Is Checking\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1},{\"No\":24,\"FieldName\":\"IsAuthorityApproved\",\"Label\":\"Is Authority Approved\",\"Type\":\"bit\",\"Mandatory\":\"x\",\"DefaultValue\":1}],\"Data\":[[\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"27/2/2023\",1,1,1,1,1,1,1,1,1,\"\",\"Viet Nam\",1,\"\"],[\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"27/2/2023\",1,1,1,1,1,1,1,1,\"\",\"\",\"Viet Nam\",1,\"\"],[\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"27/2/2023\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",1,\"Viet Nam\",\"\",\"\"]]}]","payloadType":"json","x":130,"y":340,"wires":[["730bdeee5773c64b"]]},{"id":"730bdeee5773c64b","type":"json","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"","property":"payload","action":"","pretty":false,"x":310,"y":340,"wires":[["e27dd6cee7394493"]]},{"id":"5bd860f0e2546b1f","type":"exec","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","command":"resources/app/extension/Eco-App_OutSystem_Entity_Generator/App002/App002.exe","addpay":"","append":"resources/app/extension/Eco-App_OutSystem_Entity_Generator/","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"call gen program","x":810,"y":340,"wires":[["7f43f4767d24b4fe"],["7f43f4767d24b4fe"],["7f43f4767d24b4fe"]]},{"id":"7f43f4767d24b4fe","type":"debug","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"debug 78","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":360,"wires":[]},{"id":"e27dd6cee7394493","type":"function","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"write file data","func":"msg.filename = 'data.json',\n//msg.path = env.get(\"root_path\"),\nfs.writeFile(msg.filename, msg.payload, err => {\n  if (err) {\n  }\n  // file written successfully\n});\nmsg.payload = moment().format('yyyy-mm-dd:hh:mm:ss') + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"moment","module":"moment"}],"x":470,"y":340,"wires":[["eefa90c010d01d9c"]]},{"id":"0906d1540e7b3568","type":"warp","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"go to Loop","scope":["311de9d55b691f7a"],"destination":"selected","x":650,"y":220,"wires":[]},{"id":"19515f35d0ae09a3","type":"warp","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"go to Loop","scope":["311de9d55b691f7a"],"destination":"selected","x":1010,"y":220,"wires":[]},{"id":"253f7ec49cda408e","type":"warp","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"go to Loop","scope":["311de9d55b691f7a"],"destination":"selected","x":1170,"y":220,"wires":[]},{"id":"311de9d55b691f7a","type":"loop","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"Loop files","kind":"enum","count":"","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"req.files","enumerationType":"msg","limit":"","loopPayload":"loop-val","finalPayload":"final-last","x":280,"y":200,"wires":[["cf590ced567b6567"],["76147aa44790aa69"]]},{"id":"eefa90c010d01d9c","type":"file","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"","filename":"gen.log","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":620,"y":340,"wires":[["5bd860f0e2546b1f"]]},{"id":"d2705ab7babf6f9c","type":"http response","z":"804e6a8d5f96138a","g":"17bf4797f0b5eb6e","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":560,"y":60,"wires":[]},{"id":"2d6c4ed9acf445d7","type":"file","z":"804e6a8d5f96138a","g":"17bf4797f0b5eb6e","name":"Save config","filename":"config.json","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":410,"y":60,"wires":[["d2705ab7babf6f9c"]]},{"id":"1ffb5d40af8e8f7e","type":"http in","z":"804e6a8d5f96138a","g":"17bf4797f0b5eb6e","name":"config","url":"/config-oseg","method":"post","upload":true,"swaggerDoc":"","x":110,"y":60,"wires":[["6d67eb31fc0d3233"]]},{"id":"6d67eb31fc0d3233","type":"function","z":"804e6a8d5f96138a","g":"17bf4797f0b5eb6e","name":"parse data","func":"msg.payload = JSON.parse(msg.payload.data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":60,"wires":[["2d6c4ed9acf445d7"]]},{"id":"50ee89fc54372502","type":"http response","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"","statusCode":"200","headers":{},"x":1040,"y":300,"wires":[]},{"id":"c3bb4793ec857176","type":"function","z":"804e6a8d5f96138a","g":"80aac01b3532c5c4","name":"return warning","func":"msg.payload =\"False\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":300,"wires":[["50ee89fc54372502"]]}]