Code/app/flows.json
[{"id":"6b2d42343a0c0da8","type":"tab","label":"[PAP] Get List App","disabled":false,"info":"","env":[]},{"id":"ae48acebf6bf257d","type":"tab","label":"[PAP] Download App","disabled":false,"info":"","env":[{"name":"MARKET_SERVER","value":"http://127.0.0.1:1880/","type":"str"},{"name":"MINI_APP_NAME","value":"26a52fdb538b477c2f7efc0e828d2df1","type":"str"},{"name":"MINI_APPS_FOLDER","value":"APPS","type":"str"}]},{"id":"0a9f23fd1fc93a63","type":"mongodb4-client","name":"Get Apps","protocol":"mongodb","hostname":"103.154.100.21","port":"27017","dbName":"flows","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"","socketTimeoutMS":"","minPoolSize":"","maxPoolSize":"","maxIdleTimeMS":"","uri":"mongodb://user09:xkfxWZ2U@103.154.100.20/flows?authMechanism=SCRAM-SHA-1&authSource=admin","advanced":"","uriTabActive":"tab-uri-advanced"},{"id":"fbf8067ba7bb4a79","type":"comment","z":"6b2d42343a0c0da8","name":"Get application from mongodb","info":"","x":140,"y":200,"wires":[]},{"id":"20b9fa9174bb83d1","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"findOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":520,"y":260,"wires":[["0474aa96c769ab27"]]},{"id":"497a53b3cfef31cc","type":"http in","z":"6b2d42343a0c0da8","name":"Get App By Id","url":"/app/:id","method":"get","upload":true,"swaggerDoc":"","x":140,"y":240,"wires":[["7621166733acbe4f"]]},{"id":"a26a1c2bd3353c85","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["7621166733acbe4f"]]},{"id":"7621166733acbe4f","type":"function","z":"6b2d42343a0c0da8","name":"Create array store db","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, gitOwners: 1, readme: 1, flow: 1, zip_url:1, tags: 1, updated_at: 1, created_at: 1}\n};\nlet query = {\n    // type: 'app',\n    _id: msg.req.params.id\n};\nmsg.payload = [query, options];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":260,"wires":[["20b9fa9174bb83d1"]]},{"id":"5e4b0db8dbc2f223","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":840,"y":280,"wires":[]},{"id":"a88f7d49ced7613b","type":"debug","z":"6b2d42343a0c0da8","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":240,"wires":[]},{"id":"67e2fbf3e49cd69d","type":"comment","z":"6b2d42343a0c0da8","name":"Get all application from mongodb","info":"","x":150,"y":60,"wires":[]},{"id":"cab93a157aba92e7","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":500,"y":120,"wires":[["7df999250156d0b0","8b318fde7f4f5ae1"]]},{"id":"3acc4bc7fcb17b44","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Apps","url":"/app","method":"get","upload":true,"swaggerDoc":"","x":130,"y":100,"wires":[["72b8ec29b9cdc037"]]},{"id":"499d19e22c733a02","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["72b8ec29b9cdc037"]]},{"id":"72b8ec29b9cdc037","type":"function","z":"6b2d42343a0c0da8","name":"Create array store db","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, tags: 1, updated_at: 1, created_at:1}\n};\nlet query = {\n    type : 'app'\n};\nmsg.payload = [query, options];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["cab93a157aba92e7"]]},{"id":"3b44cfde81f8ad30","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":180,"wires":[]},{"id":"b50fb407cb051129","type":"debug","z":"6b2d42343a0c0da8","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":100,"wires":[]},{"id":"6630a919d806ec56","type":"comment","z":"6b2d42343a0c0da8","name":"Find App by Contain Desc","info":"","x":130,"y":340,"wires":[]},{"id":"1a8d413770a5b3cc","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":520,"y":400,"wires":[["c8ba4259c4b99439"]]},{"id":"afab48fbbf138f72","type":"http in","z":"6b2d42343a0c0da8","name":"Get App By Desc","url":"app/search/:desc","method":"get","upload":true,"swaggerDoc":"","x":150,"y":380,"wires":[["c1dd62e3275e3bfa"]]},{"id":"4e57ac98227ebf84","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":420,"wires":[["c1dd62e3275e3bfa"]]},{"id":"c1dd62e3275e3bfa","type":"function","z":"6b2d42343a0c0da8","name":"Create array store db","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, gitOwners: 1, readme: 1, flow: 1, tags: 1, updated_at: 1, created_at: 1}\n};\n\nlet query = {\n    type: 'app',\n    description: { $regex: msg.req.params.desc, $options: \"i\" }\n};\n\nmsg.payload = [query, options];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":400,"wires":[["1a8d413770a5b3cc"]]},{"id":"9ea82b8d067fd169","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":840,"y":420,"wires":[]},{"id":"e8843cb4647a278c","type":"debug","z":"6b2d42343a0c0da8","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":380,"wires":[]},{"id":"7df999250156d0b0","type":"function","z":"6b2d42343a0c0da8","name":"function 27","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    appObjs.forEach(function (element) {\n        let createDate = element.created_at\n        let updateDate = element.updated_at\n        element.created_at = formatDate(createDate);\n        element.updated_at = formatDate(updateDate);\n    });\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["b50fb407cb051129","3b44cfde81f8ad30"]]},{"id":"0474aa96c769ab27","type":"function","z":"6b2d42343a0c0da8","name":"function 28","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    let createDate = appObjs.created_at\n    let updateDate = appObjs.updated_at\n    appObjs.created_at = formatDate(createDate);\n    appObjs.updated_at = formatDate(updateDate);\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":260,"wires":[["5e4b0db8dbc2f223","a88f7d49ced7613b"]]},{"id":"c8ba4259c4b99439","type":"function","z":"6b2d42343a0c0da8","name":"function 29","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    appObjs.forEach(function (element) {\n        let createDate = element.created_at\n        let updateDate = element.updated_at\n        element.created_at = formatDate(createDate);\n        element.updated_at = formatDate(updateDate);\n    });\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":400,"wires":[["e8843cb4647a278c","9ea82b8d067fd169"]]},{"id":"d2512712d0cad4c2","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Install Apps","url":"/installed","method":"get","upload":false,"swaggerDoc":"","x":130,"y":520,"wires":[["a68790af4671eb0a"]]},{"id":"0ba140433ac973dd","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":560,"wires":[["a68790af4671eb0a"]]},{"id":"059fc06a3b5e1212","type":"comment","z":"6b2d42343a0c0da8","name":"Get All Apps Already Installed","info":"","x":140,"y":480,"wires":[]},{"id":"ea6aeefb63281b42","type":"debug","z":"6b2d42343a0c0da8","name":"debug 77","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":580,"wires":[]},{"id":"1485cff60486d2f4","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":540,"wires":[["f2e551b9072e336b"]]},{"id":"f2e551b9072e336b","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":600,"wires":[["814f2c5725e88f82"]]},{"id":"814f2c5725e88f82","type":"function","z":"6b2d42343a0c0da8","name":"function 30","func":"let listApps = msg.payload\nlet condition_query = [];\n\nlistApps.forEach(function(element) {\n    condition_query.push(element.app_id)\n});\nlet options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, tags: 1, updated_at: 1, created_at: 1, flow: 1 }\n};\nlet query = {\n    type: 'app',\n    _id: { $in: condition_query } \n};\nmsg.payload = [query, options];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":600,"wires":[["f80c6527c0571dd8"]]},{"id":"f80c6527c0571dd8","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":640,"y":600,"wires":[["ea6aeefb63281b42","18f7c1fe6c11ecb1"]]},{"id":"18f7c1fe6c11ecb1","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":780,"y":620,"wires":[]},{"id":"8b318fde7f4f5ae1","type":"debug","z":"6b2d42343a0c0da8","name":"debug 78","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":60,"wires":[]},{"id":"ddc717ea23cd015e","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Id Install Apps","url":"/installed/flowid","method":"get","upload":false,"swaggerDoc":"","x":120,"y":700,"wires":[["1195223441580a41"]]},{"id":"cc9588235dd31435","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":740,"wires":[["1195223441580a41"]]},{"id":"a8a9d40d5490a09a","type":"comment","z":"6b2d42343a0c0da8","name":"Get Id Flow Installed","info":"","x":110,"y":660,"wires":[]},{"id":"53f7f46176f7b8b0","type":"debug","z":"6b2d42343a0c0da8","name":"debug 81","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":700,"wires":[]},{"id":"17f2e0a1e963d090","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":720,"wires":[["051b607505ab9b20"]]},{"id":"051b607505ab9b20","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":720,"wires":[["53f7f46176f7b8b0","62b80f396bc513b8"]]},{"id":"62b80f396bc513b8","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":1040,"y":740,"wires":[]},{"id":"403e3ed9c83b4be2","type":"function","z":"6b2d42343a0c0da8","name":"Get folder path","func":"msg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":500,"y":540,"wires":[["1485cff60486d2f4"]]},{"id":"d9a8e58809059928","type":"function","z":"6b2d42343a0c0da8","name":"Get folder path","func":"msg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":500,"y":720,"wires":[["17f2e0a1e963d090"]]},{"id":"a68790af4671eb0a","type":"change","z":"6b2d42343a0c0da8","name":"","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":540,"wires":[["403e3ed9c83b4be2"]]},{"id":"1195223441580a41","type":"change","z":"6b2d42343a0c0da8","name":"","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":720,"wires":[["d9a8e58809059928"]]},{"id":"7e1a18943fd9d65b","type":"http in","z":"ae48acebf6bf257d","name":"API Install","url":"/app/install","method":"post","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["118c239584331083"]]},{"id":"118c239584331083","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"MARKET_SERVER","pt":"msg","to":"config.MARKET_SERVER","tot":"global"},{"t":"set","p":"app_id","pt":"msg","to":"req.body.app_id","tot":"msg"},{"t":"set","p":"flow_id","pt":"msg","to":"req.body.flow_id","tot":"msg"},{"t":"set","p":"file_name","pt":"msg","to":"req.body.file_name","tot":"msg"},{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"app_name","pt":"msg","to":"req.body.app_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["6f87775b0c6a0744"]]},{"id":"b57c3d9d2d3e1520","type":"comment","z":"ae48acebf6bf257d","name":"install app from market","info":"","x":180,"y":60,"wires":[]},{"id":"6f87775b0c6a0744","type":"http request","z":"ae48acebf6bf257d","name":"get app data","method":"GET","ret":"bin","paytoqs":"ignore","url":"{{{MARKET_SERVER}}}server/app/install/{{{app_id}}}/{{{file_name}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":100,"wires":[["5854f6951b3649fb"]]},{"id":"c49e35c02894de56","type":"file","z":"ae48acebf6bf257d","name":"write folder zip","filename":"zip_file","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":160,"wires":[["068648d12d9b9ddd"]]},{"id":"5854f6951b3649fb","type":"function","z":"ae48acebf6bf257d","name":"zip folder/dir","func":"var app_dir = path.join(msg.app_dir, 'extension')\nvar zip_dir = path.join(app_dir, msg.app_id +'zip');\nif (!fs.existsSync(zip_dir)) {\n    fs.mkdirSync(zip_dir);\n}\n// if (!fs.existsSync(app_dir)) {\n//     fs.mkdirSync(app_dir);\n// }\nmsg.zip_file = path.join(zip_dir, msg.app_id + '.zip')\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"zipAFolder","module":"zip-a-folder"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":810,"y":100,"wires":[["c49e35c02894de56"]]},{"id":"07a601443270f39c","type":"http response","z":"ae48acebf6bf257d","name":"response","statusCode":"200","headers":{},"x":760,"y":160,"wires":[]},{"id":"068648d12d9b9ddd","type":"function","z":"ae48acebf6bf257d","name":"unzip resource","func":"var app_dir = path.join(msg.app_dir, 'extension')\n\nlet promise = new Promise(function (resolve, reject) {\n    var extract = unzipStream.Extract({ path: app_dir })\n    var pstream = fs.createReadStream(msg.zip_file).pipe(extract)\n    pstream.on('finish', () => {\n        resolve({ code: 200, message: \"install app complete\" })\n    })\n    pstream.on('error', () => {        \n        resolve({ code: 400, error: null, data: \"load template failure.\" })\n    })\n    pstream.on('close', () => {                        \n        resolve({ code: 200, error: null, data: \"load template successful.\" })\n    })     \n});\n\nmsg.payload = await promise\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":340,"y":160,"wires":[["57d9f5e4892e7c3e","88cca3d0bfd4cdf3"]]},{"id":"7dfdbab957d371ac","type":"function","z":"ae48acebf6bf257d","name":"update app menu","func":"\nif (!msg.payload.some(app => app.app_id === msg.app_id))\n    msg.payload.push(\n        {\n            \"app_id\": msg.app_id,\n            \"app_name\": msg.app_name,\n            \"app_type\": 2,\n            \"app_dir\": path.join(msg.app_dir, 'extension', msg.file_name),\n            \"app_hotkey\": \"CmdOrCtrl+2\",\n            \"flow_id\": msg.flow_id\n        }\n    )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":690,"y":240,"wires":[["fe05b027b45d1429"]]},{"id":"b7a1aea98c088fb7","type":"file in","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":240,"wires":[["73c63b58d595d6ba"]]},{"id":"57d9f5e4892e7c3e","type":"function","z":"ae48acebf6bf257d","name":"menu file path","func":"msg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":180,"y":240,"wires":[["b7a1aea98c088fb7"]]},{"id":"73c63b58d595d6ba","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":240,"wires":[["7dfdbab957d371ac","06d8e5488bdec995"]]},{"id":"1ab26ba4c6f123d6","type":"debug","z":"ae48acebf6bf257d","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":300,"wires":[]},{"id":"8cccdf2d0b77b95c","type":"inject","z":"ae48acebf6bf257d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":580,"wires":[["b1fbebe30382011c"]]},{"id":"b1fbebe30382011c","type":"http request","z":"ae48acebf6bf257d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:1880/app/001/install","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":340,"y":580,"wires":[[]]},{"id":"fe05b027b45d1429","type":"file","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":300,"wires":[["1ab26ba4c6f123d6"]]},{"id":"06d8e5488bdec995","type":"debug","z":"ae48acebf6bf257d","name":"debug 76","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":300,"wires":[]},{"id":"cac0c08ccd48b80d","type":"file in","z":"ae48acebf6bf257d","name":"Menu","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":310,"y":480,"wires":[["1b79457ad28c5a31"]]},{"id":"1b79457ad28c5a31","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"","pretty":false,"x":430,"y":480,"wires":[["3352a4f5db99141b"]]},{"id":"1ee78b8cd149ad2e","type":"debug","z":"ae48acebf6bf257d","name":"debug 82","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":480,"wires":[]},{"id":"3352a4f5db99141b","type":"function","z":"ae48acebf6bf257d","name":"get installed app","func":"let appInstalled = msg.payload\nlet app_id = msg.app_id\nappInstalled = appInstalled.filter(app => app.app_id !== app_id);\nmsg.payload = appInstalled\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":480,"wires":[["3ffeef3d1ea28d1f"]]},{"id":"3ffeef3d1ea28d1f","type":"file","z":"ae48acebf6bf257d","name":"write file","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":480,"wires":[["1ee78b8cd149ad2e"]]},{"id":"88f9b9c036c12345","type":"http in","z":"ae48acebf6bf257d","name":"","url":"/app/delete","method":"post","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["5614a9915acfbacc"]]},{"id":"e8e8108629d9f89d","type":"http response","z":"ae48acebf6bf257d","name":"","statusCode":"","headers":{},"x":690,"y":440,"wires":[]},{"id":"77af5d3374c48988","type":"function","z":"ae48acebf6bf257d","name":"delete folder","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet unzip_dir = msg.app_folder_dir;\n\ndeleteFolder(unzip_dir.trim())\n\nmsg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":530,"y":440,"wires":[["afd99f6901f7376d","cac0c08ccd48b80d","e8e8108629d9f89d"]]},{"id":"afd99f6901f7376d","type":"debug","z":"ae48acebf6bf257d","name":"debug 83","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":400,"wires":[]},{"id":"ee3a2026cc56bb27","type":"comment","z":"ae48acebf6bf257d","name":"Delete app installed","info":"","x":150,"y":400,"wires":[]},{"id":"51a329fca6ca9d2e","type":"http in","z":"ae48acebf6bf257d","name":"API Install","url":"/testapp/install","method":"post","upload":false,"swaggerDoc":"","x":180,"y":700,"wires":[["911960cb7c9c9a75","5287c076dabfb7d8"]]},{"id":"911960cb7c9c9a75","type":"debug","z":"ae48acebf6bf257d","name":"debug 84","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body.app_id","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":700,"wires":[]},{"id":"5287c076dabfb7d8","type":"http response","z":"ae48acebf6bf257d","name":"","statusCode":"","headers":{},"x":430,"y":660,"wires":[]},{"id":"91905e81a87e845c","type":"debug","z":"ae48acebf6bf257d","name":"debug 85","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":60,"wires":[]},{"id":"88cca3d0bfd4cdf3","type":"function","z":"ae48acebf6bf257d","name":"delete folder zip","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet zip_dir = path.join(msg.app_dir, 'extension', msg.app_id + 'zip');\ndeleteFolder(zip_dir)\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":560,"y":160,"wires":[["07a601443270f39c"]]},{"id":"5614a9915acfbacc","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"app_id","pt":"msg","to":"req.body.app_id","tot":"msg"},{"t":"set","p":"app_folder_dir","pt":"msg","to":"req.body.app_dir","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["77af5d3374c48988"]]},{"id":"31586eea75354b6e","type":"debug","z":"ae48acebf6bf257d","name":"debug 86","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":380,"wires":[]}]