Code/app/flows.json
[{"id":"6b2d42343a0c0da8","type":"tab","label":"[PAP] Get List App","disabled":false,"info":"","env":[]},{"id":"ae48acebf6bf257d","type":"tab","label":"[PAP] Download App","disabled":false,"info":"","env":[{"name":"MARKET_SERVER","value":"http://127.0.0.1:1880/","type":"str"},{"name":"MINI_APP_NAME","value":"26a52fdb538b477c2f7efc0e828d2df1","type":"str"},{"name":"MINI_APPS_FOLDER","value":"APPS","type":"str"}]},{"id":"593cbc42513c0b7b","type":"tab","label":"[PAP] App Information","disabled":false,"info":"","env":[]},{"id":"0a9f23fd1fc93a63","type":"mongodb4-client","name":"Get Apps","protocol":"mongodb","hostname":"103.154.100.21","port":"27017","dbName":"flows","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"","socketTimeoutMS":"","minPoolSize":"","maxPoolSize":"","maxIdleTimeMS":"","uri":"mongodb://user09:xkfxWZ2U@103.154.100.20/flows?authMechanism=SCRAM-SHA-1&authSource=admin","advanced":"","uriTabActive":"tab-uri-advanced"},{"id":"fbf8067ba7bb4a79","type":"comment","z":"6b2d42343a0c0da8","name":"Get application from mongodb","info":"","x":200,"y":480,"wires":[]},{"id":"20b9fa9174bb83d1","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"findOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":480,"y":540,"wires":[["0474aa96c769ab27"]]},{"id":"497a53b3cfef31cc","type":"http in","z":"6b2d42343a0c0da8","name":"Get App By Id","url":"/market/:id","method":"get","upload":true,"swaggerDoc":"","x":200,"y":520,"wires":[["7621166733acbe4f"]]},{"id":"a26a1c2bd3353c85","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":560,"wires":[["7621166733acbe4f"]]},{"id":"7621166733acbe4f","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, gitOwners: 1, readme: 1, flow: 1, zip_url: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1, rating: 1 }\n};\nlet query = {\n    _id: msg.req.params.id\n};\nmsg.payload = [query, options];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["20b9fa9174bb83d1"]]},{"id":"5e4b0db8dbc2f223","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":560,"wires":[]},{"id":"a88f7d49ced7613b","type":"debug","z":"6b2d42343a0c0da8","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":520,"wires":[]},{"id":"67e2fbf3e49cd69d","type":"comment","z":"6b2d42343a0c0da8","name":"Get all application from mongodb","info":"","x":230,"y":60,"wires":[]},{"id":"cab93a157aba92e7","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":480,"y":120,"wires":[["7df999250156d0b0","8b318fde7f4f5ae1"]]},{"id":"3acc4bc7fcb17b44","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Apps","url":"/app","method":"get","upload":true,"swaggerDoc":"","x":210,"y":100,"wires":[["72b8ec29b9cdc037"]]},{"id":"499d19e22c733a02","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":140,"wires":[["72b8ec29b9cdc037"]]},{"id":"72b8ec29b9cdc037","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1, rating: 1 }\n};\nlet query = {\n    type: 'app'\n};\nmsg.payload = [query, options];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["cab93a157aba92e7"]]},{"id":"3b44cfde81f8ad30","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":140,"wires":[]},{"id":"b50fb407cb051129","type":"debug","z":"6b2d42343a0c0da8","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":100,"wires":[]},{"id":"7df999250156d0b0","type":"function","z":"6b2d42343a0c0da8","name":"function 27","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    appObjs.forEach(function (element) {\n        let createDate = element.created_at\n        let updateDate = element.updated_at\n        element.created_at = formatDate(createDate);\n        element.updated_at = formatDate(updateDate);\n    });\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":120,"wires":[["b50fb407cb051129","3b44cfde81f8ad30"]]},{"id":"0474aa96c769ab27","type":"function","z":"6b2d42343a0c0da8","name":"function 28","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    let createDate = appObjs.created_at\n    let updateDate = appObjs.updated_at\n    appObjs.created_at = formatDate(createDate);\n    appObjs.updated_at = formatDate(updateDate);\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":540,"wires":[["5e4b0db8dbc2f223","a88f7d49ced7613b"]]},{"id":"d2512712d0cad4c2","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Installed","url":"/installed","method":"get","upload":false,"swaggerDoc":"","x":200,"y":800,"wires":[["a68790af4671eb0a"]]},{"id":"0ba140433ac973dd","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":840,"wires":[["a68790af4671eb0a"]]},{"id":"059fc06a3b5e1212","type":"comment","z":"6b2d42343a0c0da8","name":"Get All Installed","info":"","x":160,"y":760,"wires":[]},{"id":"ea6aeefb63281b42","type":"debug","z":"6b2d42343a0c0da8","name":"debug 77","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":880,"wires":[]},{"id":"1485cff60486d2f4","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path_menu","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":800,"wires":[["f2e551b9072e336b"]]},{"id":"f2e551b9072e336b","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":800,"wires":[["e6421c07e41f781a"]]},{"id":"814f2c5725e88f82","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let listInstall = msg.payload\nlet condition_query = [];\n\nlistInstall.forEach(function (installed) {\n    installed.forEach(function (element) {\n        if (element.app_id) {\n            condition_query.push(element.app_id)\n        } else {\n            condition_query.push(element.extension_id)\n        }\n    });\n});\nlet options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1 }\n};\nlet query = {\n    type: { $in: ['app', 'extension'] },\n    _id: { $in: condition_query }\n};\nmsg.payload = [query, options];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":900,"wires":[["f80c6527c0571dd8"]]},{"id":"f80c6527c0571dd8","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":580,"y":900,"wires":[["ea6aeefb63281b42","18f7c1fe6c11ecb1"]]},{"id":"18f7c1fe6c11ecb1","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":720,"y":920,"wires":[]},{"id":"8b318fde7f4f5ae1","type":"debug","z":"6b2d42343a0c0da8","name":"debug 78","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":60,"wires":[]},{"id":"ddc717ea23cd015e","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Id Install","url":"/installed/flowid","method":"get","upload":false,"swaggerDoc":"","x":200,"y":980,"wires":[["1195223441580a41"]]},{"id":"cc9588235dd31435","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1020,"wires":[["1195223441580a41"]]},{"id":"a8a9d40d5490a09a","type":"comment","z":"6b2d42343a0c0da8","name":"Get Id Flow Installed","info":"","x":170,"y":940,"wires":[]},{"id":"53f7f46176f7b8b0","type":"debug","z":"6b2d42343a0c0da8","name":"debug 81","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":980,"wires":[]},{"id":"17f2e0a1e963d090","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":1000,"wires":[["051b607505ab9b20"]]},{"id":"051b607505ab9b20","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":1000,"wires":[["53f7f46176f7b8b0","62b80f396bc513b8"]]},{"id":"62b80f396bc513b8","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":1040,"y":1020,"wires":[]},{"id":"403e3ed9c83b4be2","type":"function","z":"6b2d42343a0c0da8","name":"Get folder path","func":"msg.file_path_menu = path.join(msg.app_dir, \"menu.json\");\nmsg.file_path_extensions = path.join(msg.app_dir, \"extensions.json\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":500,"y":820,"wires":[["1485cff60486d2f4","ab26351ad73cbd37"]]},{"id":"d9a8e58809059928","type":"function","z":"6b2d42343a0c0da8","name":"Get folder path","func":"msg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":500,"y":1000,"wires":[["17f2e0a1e963d090"]]},{"id":"a68790af4671eb0a","type":"change","z":"6b2d42343a0c0da8","name":"Dir","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":820,"wires":[["403e3ed9c83b4be2"]]},{"id":"1195223441580a41","type":"change","z":"6b2d42343a0c0da8","name":"Dir","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1000,"wires":[["d9a8e58809059928"]]},{"id":"ab26351ad73cbd37","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path_extensions","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":840,"wires":[["e7e7d5362ad4b6d9"]]},{"id":"e7e7d5362ad4b6d9","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":840,"wires":[["e6421c07e41f781a"]]},{"id":"e6421c07e41f781a","type":"join","z":"6b2d42343a0c0da8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":820,"wires":[["814f2c5725e88f82"]]},{"id":"107dde07779f464f","type":"comment","z":"6b2d42343a0c0da8","name":"Get all extension from mongodb","info":"","x":230,"y":240,"wires":[]},{"id":"dafc57ffe66256ec","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":480,"y":300,"wires":[["0b2fe1e076841385"]]},{"id":"217b0a180272c422","type":"http in","z":"6b2d42343a0c0da8","name":"Get List Extension ","url":"/extension","method":"get","upload":true,"swaggerDoc":"","x":190,"y":280,"wires":[["4dc425bfbfc00118"]]},{"id":"802ca02d99e9fc5d","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":320,"wires":[["4dc425bfbfc00118"]]},{"id":"4dc425bfbfc00118","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1, rating: 1 }\n};\nlet query = {\n    type: 'extension'\n};\nmsg.payload = [query, options];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":300,"wires":[["dafc57ffe66256ec"]]},{"id":"62f97ca4f70d6ed8","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":320,"wires":[]},{"id":"32a1ef8e78ac4e72","type":"debug","z":"6b2d42343a0c0da8","name":"debug 121","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":280,"wires":[]},{"id":"0b2fe1e076841385","type":"function","z":"6b2d42343a0c0da8","name":"function 31","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    appObjs.forEach(function (element) {\n        let createDate = element.created_at\n        let updateDate = element.updated_at\n        element.created_at = formatDate(createDate);\n        element.updated_at = formatDate(updateDate);\n    });\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":300,"wires":[["32a1ef8e78ac4e72","62f97ca4f70d6ed8"]]},{"id":"6630a919d806ec56","type":"comment","z":"6b2d42343a0c0da8","name":"Search by Contain Desc","info":"","x":190,"y":620,"wires":[]},{"id":"1a8d413770a5b3cc","type":"mongodb4","z":"6b2d42343a0c0da8","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"flows","operation":"find","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"Mongodb","x":480,"y":680,"wires":[["c8ba4259c4b99439"]]},{"id":"afab48fbbf138f72","type":"http in","z":"6b2d42343a0c0da8","name":"Get App By Desc","url":"market/search/:desc","method":"get","upload":true,"swaggerDoc":"","x":210,"y":660,"wires":[["c1dd62e3275e3bfa"]]},{"id":"4e57ac98227ebf84","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":700,"wires":[["c1dd62e3275e3bfa"]]},{"id":"c1dd62e3275e3bfa","type":"function","z":"6b2d42343a0c0da8","name":"Query","func":"let options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, gitOwners: 1, readme: 1, flow: 1, tags: 1, updated_at: 1, created_at: 1, versions: 1 }\n};\n\nlet query = {\n    type: { $in: ['app', 'extension'] },\n    description: { $regex: msg.req.params.desc, $options: \"i\" }\n};\n\nmsg.payload = [query, options];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":680,"wires":[["1a8d413770a5b3cc"]]},{"id":"9ea82b8d067fd169","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":800,"y":700,"wires":[]},{"id":"e8843cb4647a278c","type":"debug","z":"6b2d42343a0c0da8","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":660,"wires":[]},{"id":"c8ba4259c4b99439","type":"function","z":"6b2d42343a0c0da8","name":"function 29","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nif (msg.payload !== null) {\n    let appObjs = msg.payload\n    appObjs.forEach(function (element) {\n        let createDate = element.created_at\n        let updateDate = element.updated_at\n        element.created_at = formatDate(createDate);\n        element.updated_at = formatDate(updateDate);\n    });\n    msg.payload = appObjs\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":680,"wires":[["e8843cb4647a278c","9ea82b8d067fd169"]]},{"id":"4ac0f3b2e3710339","type":"http in","z":"6b2d42343a0c0da8","name":"Get Extension Id Install","url":"/installed/extension","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1120,"wires":[["127e2efa88164632"]]},{"id":"0aaa7f63ed420e22","type":"inject","z":"6b2d42343a0c0da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1160,"wires":[["127e2efa88164632"]]},{"id":"5016a63354699e50","type":"comment","z":"6b2d42343a0c0da8","name":"Get Id Extension Installed","info":"","x":170,"y":1080,"wires":[]},{"id":"8dc40393b4eac0b7","type":"debug","z":"6b2d42343a0c0da8","name":"debug 128","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1120,"wires":[]},{"id":"8208f6471514e0d3","type":"file in","z":"6b2d42343a0c0da8","name":"List Apps Installed","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":660,"y":1140,"wires":[["e7bede11a8bba95a"]]},{"id":"e7bede11a8bba95a","type":"json","z":"6b2d42343a0c0da8","name":"","property":"payload","action":"","pretty":false,"x":820,"y":1140,"wires":[["8dc40393b4eac0b7","453c5c4d29dd4644"]]},{"id":"453c5c4d29dd4644","type":"http response","z":"6b2d42343a0c0da8","name":"response","statusCode":"200","headers":{},"x":1010,"y":1160,"wires":[]},{"id":"9ca0f43d941cb7c9","type":"function","z":"6b2d42343a0c0da8","name":"Get folder path","func":"msg.file_path = path.join(msg.extension_dir, \"extensions.json\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":470,"y":1140,"wires":[["8208f6471514e0d3"]]},{"id":"127e2efa88164632","type":"change","z":"6b2d42343a0c0da8","name":"Dir","rules":[{"t":"set","p":"extension_dir","pt":"msg","to":"__dirname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1140,"wires":[["9ca0f43d941cb7c9"]]},{"id":"7e1a18943fd9d65b","type":"http in","z":"ae48acebf6bf257d","name":"API Install","url":"/app/install","method":"post","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["118c239584331083"]]},{"id":"118c239584331083","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"MARKET_SERVER","pt":"msg","to":"config.MARKET_SERVER","tot":"global"},{"t":"set","p":"app_id","pt":"msg","to":"req.body.app_id","tot":"msg"},{"t":"set","p":"flow_id","pt":"msg","to":"req.body.flow_id","tot":"msg"},{"t":"set","p":"file_name","pt":"msg","to":"req.body.file_name","tot":"msg"},{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"app_name","pt":"msg","to":"req.body.app_name","tot":"msg"},{"t":"set","p":"app_version","pt":"msg","to":"req.body.app_version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["9f36eac3e35f8a0a"]]},{"id":"b57c3d9d2d3e1520","type":"comment","z":"ae48acebf6bf257d","name":"install app from market","info":"","x":180,"y":60,"wires":[]},{"id":"6f87775b0c6a0744","type":"http request","z":"ae48acebf6bf257d","name":"get app data","method":"GET","ret":"bin","paytoqs":"ignore","url":"{{{MARKET_SERVER}}}server/app/install/{{{app_id}}}/{{{app_version}}}/{{{file_name}}}","tls":"","persist":true,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":750,"y":100,"wires":[["5854f6951b3649fb"]]},{"id":"c49e35c02894de56","type":"file","z":"ae48acebf6bf257d","name":"write folder zip","filename":"zip_file","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":160,"wires":[["068648d12d9b9ddd"]]},{"id":"5854f6951b3649fb","type":"function","z":"ae48acebf6bf257d","name":"zip folder/dir","func":"var app_dir = path.join(msg.app_dir, 'extension')\nvar zip_dir = path.join(app_dir, msg.app_id +'zip');\nif (!fs.existsSync(app_dir)) {\n    fs.mkdirSync(app_dir);\n}\nif (!fs.existsSync(zip_dir)) {\n    fs.mkdirSync(zip_dir);\n}\nmsg.zip_file = path.join(zip_dir, msg.app_id + '.zip')\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"zipAFolder","module":"zip-a-folder"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":930,"y":100,"wires":[["c49e35c02894de56"]]},{"id":"07a601443270f39c","type":"http response","z":"ae48acebf6bf257d","name":"response","statusCode":"200","headers":{},"x":760,"y":160,"wires":[]},{"id":"068648d12d9b9ddd","type":"function","z":"ae48acebf6bf257d","name":"unzip resource","func":"var app_dir = path.join(msg.app_dir, 'extension')\n\nlet promise = new Promise(function (resolve, reject) {\n    var extract = unzipStream.Extract({ path: app_dir })\n    var pstream = fs.createReadStream(msg.zip_file).pipe(extract)\n    pstream.on('finish', () => {\n        resolve({ code: 200, message: \"install app complete\" })\n    })\n    pstream.on('error', () => {        \n        resolve({ code: 400, error: null, data: \"load template failure.\" })\n    })\n    pstream.on('close', () => {                        \n        resolve({ code: 200, error: null, data: \"load template successful.\" })\n    })     \n});\n\nmsg.payload = await promise\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":340,"y":160,"wires":[["88cca3d0bfd4cdf3"]]},{"id":"7dfdbab957d371ac","type":"function","z":"ae48acebf6bf257d","name":"update app menu","func":"\nif (!msg.payload.some(app => app.app_id === msg.app_id))\n    msg.payload.push(\n        {\n            \"app_id\": msg.app_id,\n            \"app_name\": msg.app_name,\n            \"app_type\": 2,\n            \"app_dir\": path.join('extension', msg.file_name),\n            \"app_hotkey\": \"CmdOrCtrl+2\",\n            \"flow_id\": msg.flow_id\n        }\n    )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":690,"y":240,"wires":[["fe05b027b45d1429"]]},{"id":"b7a1aea98c088fb7","type":"file in","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":240,"wires":[["73c63b58d595d6ba"]]},{"id":"57d9f5e4892e7c3e","type":"function","z":"ae48acebf6bf257d","name":"menu file path","func":"msg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":180,"y":240,"wires":[["b7a1aea98c088fb7"]]},{"id":"73c63b58d595d6ba","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":240,"wires":[["7dfdbab957d371ac","06d8e5488bdec995"]]},{"id":"1ab26ba4c6f123d6","type":"debug","z":"ae48acebf6bf257d","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":300,"wires":[]},{"id":"fe05b027b45d1429","type":"file","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":300,"wires":[["1ab26ba4c6f123d6"]]},{"id":"06d8e5488bdec995","type":"debug","z":"ae48acebf6bf257d","name":"debug 76","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":300,"wires":[]},{"id":"cac0c08ccd48b80d","type":"file in","z":"ae48acebf6bf257d","name":"Menu","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":310,"y":480,"wires":[["1b79457ad28c5a31"]]},{"id":"1b79457ad28c5a31","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"","pretty":false,"x":430,"y":480,"wires":[["3352a4f5db99141b"]]},{"id":"1ee78b8cd149ad2e","type":"debug","z":"ae48acebf6bf257d","name":"debug 82","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":480,"wires":[]},{"id":"3352a4f5db99141b","type":"function","z":"ae48acebf6bf257d","name":"get installed app","func":"let appInstalled = msg.payload\nlet app_id = msg.app_id\nappInstalled = appInstalled.filter(app => app.app_id !== app_id);\nmsg.payload = appInstalled\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":480,"wires":[["3ffeef3d1ea28d1f"]]},{"id":"3ffeef3d1ea28d1f","type":"file","z":"ae48acebf6bf257d","name":"write file","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":480,"wires":[["1ee78b8cd149ad2e"]]},{"id":"88f9b9c036c12345","type":"http in","z":"ae48acebf6bf257d","name":"Delete","url":"/app/delete","method":"post","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["5614a9915acfbacc"]]},{"id":"e8e8108629d9f89d","type":"http response","z":"ae48acebf6bf257d","name":"","statusCode":"","headers":{},"x":690,"y":440,"wires":[]},{"id":"77af5d3374c48988","type":"function","z":"ae48acebf6bf257d","name":"delete folder","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet unzip_dir = path.join(msg.app_dir,msg.app_folder_dir);\n\ndeleteFolder(unzip_dir.trim())\n\nmsg.file_path = path.join(msg.app_dir, \"menu.json\")\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":530,"y":440,"wires":[["afd99f6901f7376d","cac0c08ccd48b80d","e8e8108629d9f89d"]]},{"id":"afd99f6901f7376d","type":"debug","z":"ae48acebf6bf257d","name":"debug 83","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":400,"wires":[]},{"id":"ee3a2026cc56bb27","type":"comment","z":"ae48acebf6bf257d","name":"Delete app installed","info":"","x":150,"y":400,"wires":[]},{"id":"91905e81a87e845c","type":"debug","z":"ae48acebf6bf257d","name":"debug 85","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":60,"wires":[]},{"id":"88cca3d0bfd4cdf3","type":"function","z":"ae48acebf6bf257d","name":"delete folder zip","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet zip_dir = path.join(msg.app_dir, 'extension', msg.app_id + 'zip');\ndeleteFolder(zip_dir)\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":540,"y":160,"wires":[["07a601443270f39c","57d9f5e4892e7c3e"]]},{"id":"5614a9915acfbacc","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"app_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"app_id","pt":"msg","to":"req.body.app_id","tot":"msg"},{"t":"set","p":"app_folder_dir","pt":"msg","to":"req.body.app_dir","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["77af5d3374c48988"]]},{"id":"31586eea75354b6e","type":"debug","z":"ae48acebf6bf257d","name":"debug 86","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":380,"wires":[]},{"id":"5557438bf29247ba","type":"http in","z":"ae48acebf6bf257d","name":"API Install","url":"/extension/install","method":"post","upload":false,"swaggerDoc":"","x":140,"y":660,"wires":[["06650e9af29e33c9"]]},{"id":"06650e9af29e33c9","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"MARKET_SERVER","pt":"msg","to":"config.MARKET_SERVER","tot":"global"},{"t":"set","p":"extension_id","pt":"msg","to":"req.body.extension_id","tot":"msg"},{"t":"set","p":"extension_name","pt":"msg","to":"req.body.extension_name","tot":"msg"},{"t":"set","p":"extension_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"extension_zip","pt":"msg","to":"req.body.extension_zip","tot":"msg"},{"t":"set","p":"extension_version","pt":"msg","to":"req.body.extension_version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":660,"wires":[["aeb0e5b5c3bb6f80"]]},{"id":"17f74f05d0eede62","type":"comment","z":"ae48acebf6bf257d","name":"install extention from market","info":"","x":200,"y":620,"wires":[]},{"id":"aeb0e5b5c3bb6f80","type":"http request","z":"ae48acebf6bf257d","name":"get app data","method":"GET","ret":"bin","paytoqs":"ignore","url":"{{{MARKET_SERVER}}}server/app/install/{{{extension_id}}}/{{{extension_version}}}/{{{extension_zip}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":660,"wires":[["7021432c0247100b"]]},{"id":"0623211d1a7ca932","type":"file","z":"ae48acebf6bf257d","name":"write folder zip","filename":"zip_file","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":720,"wires":[["4bf48314452215a4"]]},{"id":"7021432c0247100b","type":"function","z":"ae48acebf6bf257d","name":"zip folder/dir","func":"var extension_dir = path.join(msg.extension_dir, 'extension', 'chorme_extentions')\nvar zip_dir = path.join(extension_dir, msg.extension_id + 'zip');\nif (!fs.existsSync(extension_dir)) {\n    fs.mkdirSync(extension_dir);\n}\nif (!fs.existsSync(zip_dir)) {\n    fs.mkdirSync(zip_dir);\n}\nmsg.zip_file = path.join(zip_dir, msg.extension_id + '.zip')\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"zipAFolder","module":"zip-a-folder"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":810,"y":660,"wires":[["0623211d1a7ca932"]]},{"id":"4bf48314452215a4","type":"function","z":"ae48acebf6bf257d","name":"unzip resource","func":"var extension_dir = path.join(msg.extension_dir, 'extension', 'chorme_extentions')\n\nlet promise = new Promise(function (resolve, reject) {\n    var extract = unzipStream.Extract({ path: extension_dir })\n    var pstream = fs.createReadStream(msg.zip_file).pipe(extract)\n    pstream.on('finish', () => {\n        resolve({ code: 200, message: \"install app complete\" })\n    })\n    pstream.on('error', () => {        \n        resolve({ code: 400, error: null, data: \"load template failure.\" })\n    })\n    pstream.on('close', () => {                        \n        resolve({ code: 200, error: null, data: \"load template successful.\" })\n    })     \n});\n\nmsg.payload = await promise\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":340,"y":720,"wires":[["7b068e41492be27f"]]},{"id":"4fcd64fca2d27014","type":"function","z":"ae48acebf6bf257d","name":"update app menu","func":"\nif (!msg.payload.some(extension => extension.extension_id === msg.extension_id))\n    msg.payload.push(\n        {\n            \"extension_id\": msg.extension_id,\n            \"extension_name\": msg.extension_name,\n            \"extension_type\": 2,\n            \"extension_dir\": path.join('extension', 'chorme_extentions', msg.extension_zip),\n            \"extension_hotkey\": \"CmdOrCtrl+2\"\n        }\n    )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"path","module":"path"}],"x":690,"y":800,"wires":[["8fdbaf67168c6c8a"]]},{"id":"575199b6f1a9fce8","type":"file in","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":800,"wires":[["443022362aa5caf1"]]},{"id":"88f21b63e68421bb","type":"function","z":"ae48acebf6bf257d","name":"menu file path","func":"msg.file_path = path.join(msg.extension_dir, \"extensions.json\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"unzipStream","module":"unzip-stream"},{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":180,"y":800,"wires":[["575199b6f1a9fce8"]]},{"id":"443022362aa5caf1","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":800,"wires":[["4fcd64fca2d27014","de9dd4ebe9068646"]]},{"id":"dcc52a63c2bb1db1","type":"debug","z":"ae48acebf6bf257d","name":"debug 122","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":860,"wires":[]},{"id":"8fdbaf67168c6c8a","type":"file","z":"ae48acebf6bf257d","name":"","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":160,"y":860,"wires":[["dcc52a63c2bb1db1"]]},{"id":"de9dd4ebe9068646","type":"debug","z":"ae48acebf6bf257d","name":"debug 123","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":860,"wires":[]},{"id":"a03cac06fabc3105","type":"debug","z":"ae48acebf6bf257d","name":"debug 124","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":700,"wires":[]},{"id":"7b068e41492be27f","type":"function","z":"ae48acebf6bf257d","name":"delete folder zip","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet zip_dir = path.join(msg.extension_dir, 'extension','chorme_extentions', msg.extension_id + 'zip');\ndeleteFolder(zip_dir)\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":560,"y":720,"wires":[["a03cac06fabc3105","276218e80e094d0d","88f21b63e68421bb"]]},{"id":"276218e80e094d0d","type":"http response","z":"ae48acebf6bf257d","name":"response","statusCode":"200","headers":{},"x":760,"y":740,"wires":[]},{"id":"af8bb9de8b767111","type":"file in","z":"ae48acebf6bf257d","name":"Menu","filename":"file_path","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":310,"y":1060,"wires":[["3620505b09efee4a"]]},{"id":"3620505b09efee4a","type":"json","z":"ae48acebf6bf257d","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1060,"wires":[["4158c05c753d3ade"]]},{"id":"a7eb49967190fe91","type":"debug","z":"ae48acebf6bf257d","name":"debug 125","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":1060,"wires":[]},{"id":"4158c05c753d3ade","type":"function","z":"ae48acebf6bf257d","name":"get installed app","func":"let extensionInstalled = msg.payload\nlet extension_id = msg.extension_id\nextensionInstalled = extensionInstalled.filter(extension => extension.extension_id !== extension_id);\nmsg.payload = extensionInstalled\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1060,"wires":[["a23265d3fbd18847"]]},{"id":"a23265d3fbd18847","type":"file","z":"ae48acebf6bf257d","name":"write file","filename":"file_path","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":1060,"wires":[["a7eb49967190fe91"]]},{"id":"e737a5a6ee5e1522","type":"http in","z":"ae48acebf6bf257d","name":"Delete","url":"/extension/delete","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1020,"wires":[["7b97a806437299aa"]]},{"id":"b17ebb6dd6a431a0","type":"function","z":"ae48acebf6bf257d","name":"delete folder","func":"\nfunction deleteFolder(_dir) {\n    fs.rmdir(_dir, { recursive: true, force: true }, (err) => {\n\n        if (err) {\n            node.error(\"error occurred in deleting directory\", err);\n        } else {\n            node.warn(\"Directory deleted successfully\");\n        }\n    });\n}\nlet unzip_dir = path.join(msg.extension_dir, msg.extension_folder_dir);\n\ndeleteFolder(unzip_dir.trim())\n\nmsg.file_path = path.join(msg.extension_dir, \"extensions.json\")\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"}],"x":430,"y":1020,"wires":[["1057ae2d87d4208f","af8bb9de8b767111","6becd9140726c876"]]},{"id":"1057ae2d87d4208f","type":"debug","z":"ae48acebf6bf257d","name":"debug 126","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":980,"wires":[]},{"id":"1c7752c620e99e64","type":"comment","z":"ae48acebf6bf257d","name":"Delete extension installed","info":"","x":170,"y":980,"wires":[]},{"id":"7b97a806437299aa","type":"change","z":"ae48acebf6bf257d","name":"","rules":[{"t":"set","p":"extension_dir","pt":"msg","to":"__dirname","tot":"global"},{"t":"set","p":"extension_folder_dir","pt":"msg","to":"req.body.extension_dir","tot":"msg"},{"t":"set","p":"extension_id","pt":"msg","to":"req.body.extension_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1020,"wires":[["b17ebb6dd6a431a0"]]},{"id":"6becd9140726c876","type":"http response","z":"ae48acebf6bf257d","name":"response","statusCode":"200","headers":{},"x":720,"y":1020,"wires":[]},{"id":"9f36eac3e35f8a0a","type":"function","z":"ae48acebf6bf257d","name":"Timeout","func":"msg.requestTimeout = 600000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["6f87775b0c6a0744"]]},{"id":"b1585d4ef4ffd064","type":"http in","z":"593cbc42513c0b7b","name":"","url":"/user-infor","method":"post","upload":false,"swaggerDoc":"","x":400,"y":120,"wires":[["921d3315f4547385","85e7e633740ffca7"]]},{"id":"921d3315f4547385","type":"http response","z":"593cbc42513c0b7b","name":"","statusCode":"","headers":{},"x":630,"y":120,"wires":[]},{"id":"85e7e633740ffca7","type":"debug","z":"593cbc42513c0b7b","name":"debug 129","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"type":"tab","label":"Git Merge Activity","id":"2081a59557a3dd6f","info":"","disabled":false,"env":[]},{"id":"f1ad9569fab7ee6c","type":"debug","z":"2081a59557a3dd6f","name":"debug 82","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":220,"wires":[]},{"id":"6daf8b99cdf31d02","type":"function","z":"2081a59557a3dd6f","name":"get all project","func":"msg.headers = {};\nlet access_token = flow.get('access_token');\nmsg.gitlab_url = flow.get('git_url');\nmsg.headers['Authorization'] = 'Bearer ' + access_token;\nmsg.url = msg.gitlab_url + \"/api/v4/projects?per_page=100\"   \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"},{"var":"os","module":"os"}],"x":350,"y":240,"wires":[["f4e65393e826ab6e","2ae429b13b29f06a"]]},{"id":"f4e65393e826ab6e","type":"http request","z":"2081a59557a3dd6f","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":240,"wires":[["f1ad9569fab7ee6c","ef6c4c0516435319"]]},{"id":"edae6664c74f6019","type":"debug","z":"2081a59557a3dd6f","name":"debug 83","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":140,"wires":[]},{"id":"2ae429b13b29f06a","type":"debug","z":"2081a59557a3dd6f","name":"debug 84","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":200,"wires":[]},{"id":"ef6c4c0516435319","type":"http response","z":"2081a59557a3dd6f","name":"","statusCode":"","headers":{},"x":650,"y":260,"wires":[]},{"id":"ced7fa5872c8e289","type":"function","z":"2081a59557a3dd6f","name":"get commits by project id","func":"msg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + flow.get(\"access_token\");;\n\n//msg.headers['PRIVATE-TOKEN'] = flow.get(\"token\")\nmsg.gitlab_url = flow.get('git_url');\nmsg.url = `${msg.gitlab_url}/api/v4/projects/${msg.req.params.id}/events?per_page=100`   \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"},{"var":"os","module":"os"}],"x":410,"y":340,"wires":[["049cd7642f70fa6a"]]},{"id":"049cd7642f70fa6a","type":"http request","z":"2081a59557a3dd6f","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":340,"wires":[["8441878675ce653f","eb02bc49d2ab7771"]]},{"id":"eb02bc49d2ab7771","type":"http response","z":"2081a59557a3dd6f","name":"","statusCode":"","headers":{},"x":750,"y":360,"wires":[]},{"id":"8441878675ce653f","type":"debug","z":"2081a59557a3dd6f","name":"debug 85","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":320,"wires":[]},{"id":"0993ca7a3369337a","type":"http in","z":"2081a59557a3dd6f","name":"","url":"/project/:id","method":"get","upload":false,"swaggerDoc":"","x":200,"y":340,"wires":[["ced7fa5872c8e289"]]},{"id":"eb046b2d7dc0d85d","type":"inject","z":"2081a59557a3dd6f","name":"","props":[{"p":"payload"},{"p":"req.body.username","v":"haivdnhe160490","vt":"str"},{"p":"req.body.password","v":"haiqd12345","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["4c6cf87c6dcf6f26"]]},{"id":"3a58513e102bacaa","type":"function","z":"2081a59557a3dd6f","name":"oauth","func":"msg.headers = {};\n// msg.headers['PRIVATE-TOKEN'] = flow.get(\"token\")\nmsg.gitlab_url = flow.get('git_url') ;\nmsg.url = `${msg.gitlab_url}/oauth/token`;\nmsg.payload = {\n    \"grant_type\": \"password\",\n    \"username\": msg.req.body.username,\n    \"password\": msg.req.body.password\n}   \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"},{"var":"os","module":"os"}],"x":550,"y":120,"wires":[["d6a603f40118a1b1"]]},{"id":"d6a603f40118a1b1","type":"http request","z":"2081a59557a3dd6f","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":true,"headers":[],"x":710,"y":120,"wires":[["5ec3372b2e42255d"]]},{"id":"fc322902451bab50","type":"http in","z":"2081a59557a3dd6f","name":"","url":"/oauth","method":"post","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["4c6cf87c6dcf6f26"]]},{"id":"5ec3372b2e42255d","type":"change","z":"2081a59557a3dd6f","name":"Access_token","rules":[{"t":"set","p":"access_token","pt":"flow","to":"payload.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":120,"wires":[["edae6664c74f6019","97e9bb13538278ea"]]},{"id":"77b50c644257a647","type":"http in","z":"2081a59557a3dd6f","name":"Get List","url":"/listtable","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["6daf8b99cdf31d02"]]},{"id":"97e9bb13538278ea","type":"http response","z":"2081a59557a3dd6f","name":"","statusCode":"","headers":{},"x":1030,"y":100,"wires":[]},{"id":"4f2729fe27d679d5","type":"http in","z":"2081a59557a3dd6f","name":"","url":"merger/:id","method":"get","upload":false,"swaggerDoc":"","x":160,"y":460,"wires":[["3d710616f3e1caf0"]]},{"id":"bcff4c07693a9092","type":"http request","z":"2081a59557a3dd6f","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":710,"y":460,"wires":[["90e080b4f326ffb6"]]},{"id":"3c25dd5e9f3c6c49","type":"http response","z":"2081a59557a3dd6f","name":"","statusCode":"","headers":{},"x":990,"y":480,"wires":[]},{"id":"8b767cb10c73a2ca","type":"debug","z":"2081a59557a3dd6f","name":"debug 87","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":440,"wires":[]},{"id":"5ff9983f7178d4d8","type":"inject","z":"2081a59557a3dd6f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":280,"wires":[["6daf8b99cdf31d02"]]},{"id":"19caebbc185e11b4","type":"inject","z":"2081a59557a3dd6f","name":"","props":[{"p":"payload"},{"p":"req.params.id","v":"42359759","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":400,"wires":[["ced7fa5872c8e289"]]},{"id":"1ba0eb1ff3526cdc","type":"inject","z":"2081a59557a3dd6f","name":"","props":[{"p":"payload"},{"p":"req.params.id","v":"42359759","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":540,"wires":[["54f7c1c556a80d3e"]]},{"id":"571d2dd4ddb4d0b7","type":"http in","z":"2081a59557a3dd6f","name":"Activity","url":"merge/act/:mergeid","method":"get","upload":false,"swaggerDoc":"","x":150,"y":640,"wires":[["0d79af5cc19edbb3"]]},{"id":"3b81218778a857bc","type":"http request","z":"2081a59557a3dd6f","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":640,"wires":[["f28db49d77ca23b7"]]},{"id":"917c6f990caa7666","type":"http response","z":"2081a59557a3dd6f","name":"","statusCode":"","headers":{},"x":990,"y":660,"wires":[]},{"id":"2efdf356f6c46857","type":"debug","z":"2081a59557a3dd6f","name":"debug 88","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":600,"wires":[]},{"id":"3d9a931bb952dabc","type":"inject","z":"2081a59557a3dd6f","name":"","props":[{"p":"payload"},{"p":"req.params.id","v":"42359759","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":720,"wires":[["0d79af5cc19edbb3"]]},{"id":"0d79af5cc19edbb3","type":"function","z":"2081a59557a3dd6f","name":"get commits by project id","func":"msg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + flow.get(\"access_token\");;\n\n//msg.headers['PRIVATE-TOKEN'] = flow.get(\"token\")\nlet projectid = flow.get('project_id')\nmsg.gitlab_url = flow.get('git_url');\nmsg.url = `${msg.gitlab_url}/api/v4/projects/${projectid}/merge_requests/${msg.req.params.mergeid}/discussions.json?per_page=1000`   \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"},{"var":"os","module":"os"}],"x":390,"y":640,"wires":[["3b81218778a857bc"]]},{"id":"3d710616f3e1caf0","type":"change","z":"2081a59557a3dd6f","name":"project id","rules":[{"t":"set","p":"project_id","pt":"flow","to":"req.params.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["b4dc5fb5f86a8233"]]},{"id":"b4dc5fb5f86a8233","type":"function","z":"2081a59557a3dd6f","name":"get commits by project id","func":"msg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + flow.get(\"access_token\");;\n\n//msg.headers['PRIVATE-TOKEN'] = flow.get(\"token\")\nlet projectid = flow.get('project_id')\nmsg.gitlab_url = flow.get('git_url');\nmsg.url = `${msg.gitlab_url}/api/v4/projects/${projectid}/merge_requests?per_page=1000`   \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"},{"var":"os","module":"os"}],"x":510,"y":460,"wires":[["bcff4c07693a9092"]]},{"id":"54f7c1c556a80d3e","type":"function","z":"2081a59557a3dd6f","name":"function 2","func":"msg.payload = flow.get('project_id')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":540,"wires":[["97956a60cda2ab3f"]]},{"id":"97956a60cda2ab3f","type":"debug","z":"2081a59557a3dd6f","name":"debug 89","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":540,"wires":[]},{"id":"90e080b4f326ffb6","type":"function","z":"2081a59557a3dd6f","name":"function 1","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\n\nnode.warn(msg.payload.message);\nif (!msg.payload.message) {\n    let list_merge = msg.payload.filter(item1 => item1.state !== \"closed\")\n    list_merge.forEach(function (element) {\n        if (!element.merge_user) {\n            element.merge_user = {}\n            element.merge_user.username = ''\n        }\n        let date_format = formatDate(element.created_at)\n        element.created_at = date_format\n    });\n    msg.payload = list_merge\n} else {\n    msg.payload = msg.payload.message\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":460,"wires":[["8b767cb10c73a2ca","3c25dd5e9f3c6c49"]]},{"id":"62df31d3b6c6dbf0","type":"function","z":"2081a59557a3dd6f","name":"handle body","func":"\nlet list_merge_activity = msg.payload;\nlist_merge_activity.forEach(function (activity) {\n    activity.notes[0].cmt = {}\n    let body = activity.notes[0].body;\n    activity.notes[0].body = body.split('\\n\\n');\n    activity.notes[0].cmt.activity_header = activity.notes[0].body[0]\n\n    let body_cmt = activity.notes[0].body[1];\n    if (body_cmt) {\n        let activity_detail = []\n        let regex = /<li>(.*?)<\\/li>/g;\n        let matches;\n        activity.notes[0].body[1] = []\n        while ((matches = regex.exec(body_cmt)) !== null) {\n            let content = matches[1]; // Ly ni dung bn trong cp <li>...</li>\n            activity.notes[0].body[1].push(content)\n            activity_detail.push(content)\n        }\n        activity.notes[0].cmt.activity_detail = activity_detail\n    } else {\n        activity.notes[0].body[1] = ''\n    }\n});\n\nmsg.payload = list_merge_activity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":660,"wires":[["917c6f990caa7666","2efdf356f6c46857"]]},{"id":"f28db49d77ca23b7","type":"function","z":"2081a59557a3dd6f","name":"handle date","func":"function formatDate(dateBefore) {\n    const dateObj = new Date(dateBefore);\n    const time = dateObj.toLocaleTimeString('en-US', { hour12: false });\n    const date = dateObj.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' });\n\n    const formattedCreateDate = `${time} ${date}`;\n    return formattedCreateDate;\n}\nlet list_merge_activity = msg.payload;\nlist_merge_activity.forEach(function (activity) {\n\n    let date_format = formatDate(activity.notes[0].created_at)\n    activity.notes[0].created_at = date_format;\n});\n\nmsg.payload = list_merge_activity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":620,"wires":[["62df31d3b6c6dbf0"]]},{"id":"4c6cf87c6dcf6f26","type":"change","z":"2081a59557a3dd6f","name":"project id","rules":[{"t":"set","p":"git_url","pt":"flow","to":"req.body.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[["3a58513e102bacaa"]]},{"id":"559ba266d4310efd","type":"debug","z":"2081a59557a3dd6f","name":"debug 91","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":20,"wires":[]},{"id":"7e7680e1908cf831","type":"catch","z":"2081a59557a3dd6f","name":"","scope":["d6a603f40118a1b1"],"uncaught":false,"x":750,"y":40,"wires":[["ecf82c9cab664f6c"]]},{"id":"37f8726029786d7e","type":"http response","z":"2081a59557a3dd6f","name":"","statusCode":"","headers":{},"x":990,"y":60,"wires":[]},{"id":"ecf82c9cab664f6c","type":"change","z":"2081a59557a3dd6f","name":"Error","rules":[{"t":"set","p":"payload.error","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":40,"wires":[["559ba266d4310efd","37f8726029786d7e"]]}]